* {padding:0; margin:0;}
li{list-style:none;}
.box{width:1007px; height:7943px; overflow-y:scroll; margin:0 auto;}
.box1{cursor:pointer; width:1007px; height:43px; background:#333; position:relative; top:0; left:0; border-bottom:2px solid #606060;}
.box1 .s1{position:absolute; top:15px; left:28px; font-size:12px; color:#fff;}
.box1 .s1.on{color:red;}
.box1 .s2{position:absolute; top:20px; left:59px;}
.box1 .s3{position:absolute; top:15px; left:99px; font-size:12px; color:#fff;}
.box1 .s3.on{color:red;}
.box1 .s4{cursor:pointer; position:absolute; top:0; left:438px; width:66px; height:48px; border:none; border-bottom:4px solid #8f2f2f; background:red; font-size:12px; color:#fff;}
.box1 .deng{width:100px; height:25px; position:absolute; top:250px; left:350px; font-size:13px; display:none;}
.box1 .s5{position:absolute; top:15px; left:514px; font-size:12px; color:#fff;}
.box1 .xiang{width:100px; height:25px; border:1px solid orange; position:absolute; top:300px; left:450px;display:none;}
.box1 .s6{position:absolute; top:20px; left:594px;}
.box1 .s7{padding-left:15px; position:absolute; top:0px; left:616px; width:60px; height:43px;line-height:43px; font-size:14px; color:#fff; border-right:1px solid #666; border-left:1px solid #666;}
.box1 .s8{color:#9f9f9f;display:inline-block; margin-right:5px;}
.box1 .s9{position:absolute; top:0; right:98px; width:200px; height:43px; }
.box1 .duo{width:100px; height:100px; background:green; position:absolute; top:200px; left:500px; display:none;}
.box1 .s9 li{margin-left:10px; display:inline-block; text-align:center; border-right:1px solid #666; width:39px; height:43px; background:url(../img/xin.png) no-repeat left center; float:left; }
.box1 .s9 li img{position:absolute; top:20px;}
.box1 .s10{padding-left:15px; position:absolute; top:0px; right:22px; width:60px; height:43px;line-height:43px; font-size:14px; color:#fff; border-right:1px solid #666; border-left:1px solid #666;}
/*       box2      */
.box2{width:991px; height:90px; background:#fff;}
.box2 .zhong{margin:0 16px; width:960px; height:90px;  border-bottom:4px solid #206f96; position:relative; top:0; left:0;}
.box2 .zhong .logo{position:absolute; top:37px; left:16px;}
.box2 .zhong .ke{position:absolute; top:35px; right:162px;}
.box2 .zhong .xin{position:absolute; top:35px; right:0px;}
/*       box3      */
.box3{width:991px; height:90px; background:#fff; overflow:hidden;}
.box3 .zhong{width:960px; height:90px; margin:0 auto;}
.box3 .zhong .ul{margin-right:16px; float:left; overflow:hidden; margin-top:7px; width:173px; height:84px; border-right:1px dotted #DFDFDF;}
.box3 .zhong .ul li{float:left; font-size:12px; margin-right:16px; line-height:20px;}
.box3 .zhong .ul li a{text-decoration:none; color:#666;}
.box3 .zhong .ul li a:hover{color:red;}
.box3 .zhong .ul1{margin-right:18px; float:left; overflow:hidden; margin-top:7px; width:143px; height:84px; border-right:1px dotted #DFDFDF;}
.box3 .zhong .ul1 li{float:left; font-size:12px; margin-right:16px; line-height:20px;}
.box3 .zhong .ul1 li a{text-decoration:none; color:#666;}
.box3 .zhong .ul1 li a:hover{color:red;}
.box3 .zhong .ul2{margin-right:18px; float:left; overflow:hidden; margin-top:7px; width:131px; height:84px; border-right:1px dotted #DFDFDF;}
.box3 .zhong .ul2 li{float:left; font-size:12px; margin-right:16px; line-height:20px;}
.box3 .zhong .ul2 li a{text-decoration:none; color:#666;}
.box3 .zhong .ul2 li a:hover{color:red;}
.box3 .zhong .ul3{ float:left; overflow:hidden; margin-top:7px; width:117px; height:84px; border-right:1px dotted #DFDFDF;}
.box3 .zhong .ul3 li{float:left; font-size:12px; margin-right:14px; line-height:20px;}
.box3 .zhong .ul3 li a{text-decoration:none; color:#666;}
.box3 .zhong .ul3 li a:hover{color:red;}
/*       box4      */
.box4{width:991px; height:158px; background:#fff;}
.box4 .zhong{margin:0 auto; width:960px; height:158px;overflow:hidden; border:1px solid #DFDFDF;}
.box4 .zhong .left{width:788px; height:158px; position:relative; top:0; left:0;float:left;}
.box4 .zhong .left .jiaoyu{position:absolute; top:1px; left:1px;}
.box4 .zhong .left .chuguo{position:absolute; top:55px; left:1px;}
.box4 .zhong .left .zhaosheng{position:absolute; top:107px; left:1px;}
.box4 .zhong .left .haizi{position:absolute; top:30px; left:168px;}
.box4 .zhong .left .bei{width:140px; height:154px; position:absolute; top:0; left:24px; padding-left:4px; padding-top:4px;}
.box4 .zhong .left .bei li{font-size:12px; line-height:25px;}
.box4 .zhong .left .bei li a{text-decoration:none; color:#376a77;}
.box4 .zhong .left .siji{width:359px; height:30px; position:absolute; top:0; left:168px; overflow:hidden;}
.box4 .zhong .left .siji li{font-size:12px; line-height:40px; margin-right:17px;float:left;}
.box4 .zhong .left .siji li a{text-decoration:none; color:#376a77;}
.box4 .zhong .left .wangyou{width:359px; height:30px; position:absolute; top:130px; left:168px; overflow:hidden;}
.box4 .zhong .left .wangyou li{font-size:12px; line-height:20px; margin-right:16px;float:left;}
.box4 .zhong .left .wangyou li a{text-decoration:none; color:#376a77;}
.box4 .zhong .left .cuihun{width:262px; height:30px; position:absolute; top:0px; right:0; overflow:hidden;}
.box4 .zhong .left .cuihun li{font-size:12px; line-height:40px; margin-right:17px;float:left;}
.box4 .zhong .left .cuihun li a{text-decoration:none; color:#376a77;}
.box4 .zhong .left .qiang{width:262px; height:30px; position:absolute; top:130px; right:0; overflow:hidden;}
.box4 .zhong .left .qiang li{font-size:12px; line-height:20px; margin-right:18px;float:left;}
.box4 .zhong .left .qiang li a{text-decoration:none; color:#376a77;}
.box4 .zhong .right{width:170px; height:158px; float:left; position:relative; top:0; left:0;}
.box4 .zhong .right .zuixin{position:absolute; top:1px; right:1px;}
.box4 .zhong .right .tuijian{position:absolute; top:54px; right:1px;}
.box4 .zhong .right .huodong{position:absolute; top:107px; right:1px;}
.box4 .zhong .right .pindao{width:144px; height:158px; position:absolute; top:0; left:8px;}
.box4 .zhong .right .pindao li{font-size:12px; line-height:26px;}
.box4 .zhong .right .pindao li a{text-decoration:none; color:#376a77;}
/*        box5             */
.box5{width:991px; height:1351px; background:#fff;}
.box5 .zhong{width:960px; height:1331px;margin:0 auto; padding-top:20px;}
.box5 .zhong .left{width:640px; height:1330px; float:left; overflow:hidden;}
.box5 .zhong .left .top{width:640px; height:1141px; overflow:hidden;}
.box5 .zhong .left .top .zuo{width:310px; height:1141px; float:left; margin-right:20px;}
.box5 .zhong .left .top .zuo .z1{float:left; width:310px; height:265px; position:relative; top:0; left:0;}
.box5 .zhong .left .top .zuo .z1 .tu{position:absolute; top:0; left:0; width:310px; height:220px;}
.box5 .zhong .left .top .zuo .z1 .tu img{display:none;}
.box5 .zhong .left .top .zuo .z1 .tu img.on{display:block;}
.box5 .zhong .left .top .zuo .z1 .hua{font-size:55px; font-weight:bold; color:#bbc1bc; position:absolute; top:90px; left:7px;}
.box5 .zhong .left .top .zuo .z1 .hua1{font-size:55px; font-weight:bold; color:#bbc1bc; position:absolute; top:90px; right:7px;}
.box5 .zhong .left .top .zuo .z1 i{width:310px; height:40px; background:#000; position:absolute; left:0; bottom:45px; opacity:0.4;}
.box5 .zhong .left .top .zuo .z1 .wen{font-size:14px; position:absolute; top:192px; left:10px; font-weight:bold;}
.box5 .zhong .left .top .zuo .z1 .wen a{text-decoration:none; color:#fff;}
.box5 .zhong .left .top .zuo .z1 .heng{width:200px; height:5px; position:absolute; bottom:26px; left:63px; overflow:hidden;}
.box5 .zhong .left .top .zuo .z1 .heng div{float:left; margin-right:8px; cursor:pointer;width:24px; height:5px; background:#F7F7F7;}
.box5 .zhong .left .top .zuo .z1 .heng div.on{background:linear-gradient(to right,#206f96,#7bbedf);}
.box5 .zhong .left .top .zuo .z2{float:left; width:310px; height:174px; position:relative; top:0; left:0;}
.box5 .zhong .left .top .zuo .z2 .ti{overflow:hidden; width:308px; height:29px; position:absolute; top:0px; left:0; border-top:solid #206f96 2px; border-left:1px solid #DFDFDF;}
.box5 .zhong .left .top .zuo .z2 .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; width:101px; height:27px; background:#efefef; float:left; line-height:27px; text-align:center; font-size:14px;}
.box5 .zhong .left .top .zuo .z2 .ti li a{text-decoration:none; color:#333;}
.box5 .zhong .left .top .zuo .z2 .ti li:hover{background:#fff; border-bottom:none;}
.box5 .zhong .left .top .zuo .z2 div{display:none;width:310px; height:143px; position:relative; top:29px; left:0;}
.box5 .zhong .left .top .zuo .z2 div.on{display:block;}
.box5 .zhong .left .top .zuo .z2 div .du{position:absolute; top:19px; left:0;}
.box5 .zhong .left .top .zuo .z2 div .pin{position:absolute; top:19px; right:0;}
.box5 .zhong .left .top .zuo .z2 div .ning{font-size:12px; position:absolute; top:118px; left:0;}
.box5 .zhong .left .top .zuo .z2 div .ning a{text-decoration:none; color:#333;}
.box5 .zhong .left .top .zuo .z2 div .bing{font-size:12px; position:absolute; top:118px; right:20px;}
.box5 .zhong .left .top .zuo .z2 div .bing a{text-decoration:none; color:#333;}
.box5 .zhong .left .top .zuo .z3{width:310px; height:148px; float:left;}
.box5 .zhong .left .top .zuo .z3 span{width:310px; height:27px; line-height:27px; font-size:14px; position:relative; top:0; left:0;}
.box5 .zhong .left .top .zuo .z3 span a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .zuo .z3 span img{position:absolute; top:0px; left:9px;}
.box5 .zhong .left .top .zuo .z4{width:310px; height:258px; float:left;}
.box5 .zhong .left .top .zuo .z4 span{width:310px; height:27px; line-height:27px; font-size:14px; position:relative; top:0; left:0;}
.box5 .zhong .left .top .zuo .z4 span a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .zuo .z4 span img{position:absolute; top:0px; left:9px;}
.box5 .zhong .left .top .zuo .z5{float:left; width:310px; height:160px; position:relative; top:0; left:0;}
.box5 .zhong .left .top .zuo .z5 a{text-decoration:none;}
.box5 .zhong .left .top .zuo .z5 a .zhi{width:130px; height:90px; position:absolute; top:15px; left:0;}
.box5 .zhong .left .top .zuo .z5 a .bo{width:130px; height:90px; position:absolute; top:15px; right:10px;}
.box5 .zhong .left .top .zuo .z5 .zhi1{font-size:12px; position:absolute; top:117px; left:0;}
.box5 .zhong .left .top .zuo .z5 .zhi1 a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .zuo .z5 .bo1{font-size:12px; position:absolute; top:117px; right:37px;}
.box5 .zhong .left .top .zuo .z5 .bo1 a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .zuo .z5 .se{width:33px; height:20px; background:#f44103; font-size:12px; text-align:center; line-height:20px; color:#fff; position:absolute; top:15px; left:97px;}
.box5 .zhong .left .top .zuo .z5 .se1{width:33px; height:20px; background:#f44103; font-size:12px; text-align:center; line-height:20px; color:#fff; position:absolute; top:15px; right:10px;}
.box5 .zhong .left .top .zuo .z5 i{width:130px; height:20px; background:#000; opacity:0.6; position:absolute; top:85px; left:0;}
.box5 .zhong .left .top .zuo .z5 b{width:130px; height:20px; background:#000; opacity:0.6; position:absolute; top:85px; right:10px;}
.box5 .zhong .left .top .zuo .z5 .ren1{position:absolute; top:92px; left:79px;}
.box5 .zhong .left .top .zuo .z5 .ren2{position:absolute; top:92px; right:44px;}
.box5 .zhong .left .top .zuo .z5 .shu{font-size:12px; color:#fff; position:absolute; top:90px; left:94px;}
.box5 .zhong .left .top .zuo .z5 .shu1{font-size:12px; color:#fff; position:absolute; top:90px; right:18px;}
.box5 .zhong .left .top .zuo .z6{width:310px; height:136px; position:relative; top:0; left:0; float:left;}
.box5 .zhong .left .top .zuo .z6 a{text-decoration:none;}
.box5 .zhong .left .top .zuo .z6 a img{position:absolute; top:0; left:0;}
.box5 .zhong .left .top .you{width:310px; height:1141px; float:left;}
.box5 .zhong .left .top .you .y1{float:left; width:310px; height:591px; position:relative; top:0; left:0; overflow:hidden;}
.box5 .zhong .left .top .you .y1 .xinwen{width:308px; height:28px; overflow:hidden; position:relative; top:0; left:0; border-top:2px solid #206f96; border-left:1px solid #DFDFDF;}
.box5 .zhong .left .top .you .y1 .xinwen li{background:#efefef; float:left; line-height:27px; text-align:center; font-size:14px;  width:101px; height:27px; border-bottom:1px solid #DFDFDF; border-right:1px solid #DFDFDF;}
.box5 .zhong .left .top .you .y1 .xinwen li a{text-decoration:none; color:#333;}
.box5 .zhong .left .top .you .y1 .xinwen li:hover{border-bottom:none;background:#fff;}
.box5 .zhong .left .top .you .y1 div{display:none; width:310px; height:548px; font-size:12px; line-height:27px; position:absolute; top:43px; left:0;}
.box5 .zhong .left .top .you .y1 div.on{display:block;}
.box5 .zhong .left .top .you .y1 div span{font-size:14px; }
.box5 .zhong .left .top .you .y1 div span a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y1 div span.tebie{font-size:14px; font-weight:bold;}
.box5 .zhong .left .top .you .y1 div span.tebie a{text-decoration:none; color:#333;}
.box5 .zhong .left .top .you .y2{width:310px; height:254px; position:relative; top:0; left:0; float:left;}
.box5 .zhong .left .top .you .y2 .taidu{width:310px; height:26px; position:absolute; top:0; left:0;}
.box5 .zhong .left .top .you .y2 .taidu .tai{position:absolute; top:8px; left:10px;}
.box5 .zhong .left .top .you .y2 .taidu span{position:absolute; top:11px; left:110px; font-size:14px;}
.box5 .zhong .left .top .you .y2 .taidu span a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y2 p{width:310px; height:228px; position:absolute; top:27px; left:0;}
.box5 .zhong .left .top .you .y2 p .tai1{font-size:14px; line-height:26px;}
.box5 .zhong .left .top .you .y2 p .tai1 a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y3{width:310px; height:281px; float:left; margin-top:15px; position:relative; top:0; left:0;}
.box5 .zhong .left .top .you .y3 .nav{ border-top:2px solid #206f96; border-left:1px solid #DFDFDF;position:absolute; top:0; left:0; width:308px; height:29px; overflow:hidden;}
.box5 .zhong .left .top .you .y3 .nav li{background:#efefef; text-align:center; border-bottom:1px solid #DFDFDF; border-right:1px solid #DFDFDF;float:left; width:101px; height:27px; line-height:27px; font-size:14px;}
.box5 .zhong .left .top .you .y3 .nav li a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y3 .nav li:hover{border-bottom:none; background:#fff;}
.box5 .zhong .left .top .you .y3 div{width:310px; height:250px; position:absolute; top:31px; left:0; display:none;}
.box5 .zhong .left .top .you .y3 div.on{display:block;}
.box5 .zhong .left .top .you .y3 .hua{font-size:12px; position:absolute; top:48px; left:52px;}
.box5 .zhong .left .top .you .y3 .hua a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y3 .hua1{font-size:12px; position:absolute; top:48px; right:62px;}
.box5 .zhong .left .top .you .y3 .hua1 a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y3 .nav1{width:156px; height:5px; position:absolute; top:52px; left:84px; overflow:hidden;}
.box5 .zhong .left .top .you .y3 .nav1 li{width:24px; height:5px; background:#DFDFDF; float:left; margin-right:2px;}
.box5 .zhong .left .top .you .y3 .nav1 li:hover{background:#206f96;}
.box5 .zhong .left .top .you .y3 p{width:; height:; position:absolute; top:60px; left:0; display:none;}
.box5 .zhong .left .top .you .y3 p.on{display:block;}
.box5 .zhong .left .top .you .y3 p span{font-size:14px; line-height:26px; }
.box5 .zhong .left .top .you .y3 p span a{text-decoration:none; color:#666;}
.box5 .zhong .left .top .you .y3 .bobo{position:absolute; top:230px; left:0;}
.box5 .zhong .left .top .you .y3 .bobo1{font-size:14px; position:absolute; top:230px; left:98px;}
.box5 .zhong .left .top .you .y3 .bobo1 a{text-decoration:none; color:#666;}
.box5 .zhong .left .bottom{width:640px; height:189px; position:relative; top:0; left:0;}
.box5 .zhong .left .bottom .xia{border:1px solid #DFDFDF;width:638px; height:63px; overflow:hidden; position:absolute; top:0; left:0;}
.box5 .zhong .left .bottom .xia li{float:left; line-height:27px; margin-right:20px; margin-left:10px;font-size:14px;}
.box5 .zhong .left .bottom .xia li a{text-decoration:none; color:#666;}
.box5 .zhong .left .bottom .hai{position:absolute; top:77px; left:0;}
.box5 .zhong .right{width:300px; height:1330px; float:left; overflow:hidden; margin-left:18px;}
.box5 .zhong .right .r1{width:298px; height:418px; border-left:1px solid #DFDFDF; border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;}
.box5 .zhong .right .r1 .ti{width:298px; height:31px; position:relative; top:0; left:0;}
.box5 .zhong .right .r1 .ti .chanpin{line-height:29px; font-size:12px; color:#333; border-top:2px solid #206f96; width:115px; height:29px; background:#efefef; text-indent:1em; position:absolute; left:0; top:0;}
.box5 .zhong .right .r1 .ti .nide{position:absolute; top:0; right:0;}
.box5 .zhong .right .r1 .xin{width:298px; height:57px; position:relative; top:0; left:0;}
.box5 .zhong .right .r1 .xin .xin1{position:absolute; top:25px; left:16px;}
.box5 .zhong .right .r1 .xin .xin2{width:248px; height:14px; overflow:hidden; position:absolute; top:25px; left:50px;}
.box5 .zhong .right .r1 .xin .xin2 li{float:left; margin-right:11px; font-size:12px;}
.box5 .zhong .right .r1 .xin .xin2 li a{text-decoration:none; color:#333;}
.box5 .zhong .right .r1 .menghuan{width:298px; height:126px; background:#f7f7f7; position:relative; top:0; left:0;}
.box5 .zhong .right .r1 .menghuan .huan{position:absolute; top:51px; left:10px;}
.box5 .zhong .right .r1 .menghuan .meng{width:248px; height:108px; position:absolute; top:19px; left:50px;}
.box5 .zhong .right .r1 .menghuan .meng li{float:left; font-size:13px; margin-right:8px; margin-bottom:10px;}
.box5 .zhong .right .r1 .menghuan .meng li a{text-decoration:none; color:#333;}
.box5 .zhong .right .r1 .lian{width:298px; height:77px; position:relative; top:0; left:0;}
.box5 .zhong .right .r1 .lian .lian1{position:absolute; top:25px; left:16px;}
.box5 .zhong .right .r1 .lian .lian2{width:248px; height:51px; overflow:hidden; position:absolute; top:19px; left:50px;}
.box5 .zhong .right .r1 .lian .lian2 li{float:left; margin-right:11px; font-size:12px; margin-bottom:12px;}
.box5 .zhong .right .r1 .lian .lian2 li a{text-decoration:none; color:#333;}
.box5 .zhong .right .r2{width:300px; height:387px; position:relative; top:0; left:0;}
.box5 .zhong .right .r2 .dao{position:absolute; top:12px; left:0; width:300px; height:250px;display:block;}
.box5 .zhong .right .r2 .gongyi{border:1px solid #DFDFDF; width:298px; height:99px;position:relative; top:274px; left:0; margin-top:12px;}
.box5 .zhong .right .r2 .gongyi .yi1{font-size:14px; color:#333; position:absolute; top:15px; left:18px;}
.box5 .zhong .right .r2 .gongyi .yi2{position:absolute; top:13px; left:120px;}
.box5 .zhong .right .r2 .gongyi .yi3{font-size:14px; position:absolute; top:15px; right:8px;}
.box5 .zhong .right .r2 .gongyi .yi3 a{text-decoration:none; color:#333;}
.box5 .zhong .right .r2 .gongyi .yi4{font-size:14px; position:absolute; top:42px; left:8px;}
.box5 .zhong .right .r2 .gongyi .yi4 a{text-decoration:none; color:#333;}
.box5 .zhong .right .r2 .gongyi .yi5{font-size:14px; position:absolute; top:69px; left:8px;}
.box5 .zhong .right .r2 .gongyi .yi5 a{text-decoration:none; color:#333;}
.box5 .zhong .right .r3{width:298px; height:250px; border:1px solid #DFDFDF;}
.box5 .zhong .right .r3 .chunyun{width:298px; height:31px; overflow:hidden;}
.box5 .zhong .right .r3 .chunyun li{background:#f7f7f7; width:73px; height:30px; border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; float:left; line-height:30px; font-size:12px; text-align:center;}
.box5 .zhong .right .r3 .chunyun li a{text-decoration:none; color:#666;}
.box5 .zhong .right .r3 .chunyun li:hover{border-bottom:none; background:#fff;}
.box5 .zhong .right .r3 div{display:none; width:280px; height:208px; background:pink; position:relative; top:9px; left:9px;}
.box5 .zhong .right .r3 div.on{display:block;}
.box5 .zhong .right .r3 div .chun1{position:absolute; top:0; left:0; width:280px; height:140px;}
.box5 .zhong .right .r3 div .chun2{font-size:14px; position:absolute; top:154px; left:15px;}
.box5 .zhong .right .r3 div .chun2 a{text-decoration:none; color:#376a77;}
.box5 .zhong .right .r3 div .chun3{font-size:14px; position:absolute; top:180px; left:15px;}
.box5 .zhong .right .r3 div .chun3 a{text-decoration:none; color:#376a77;}
.box5 .zhong .right .r4{width:300px; height:250px;}
.box5 .zhong .right .r4 a{text-decoration:none;}
.box5 .zhong .right .r4 a img{width:300px; height:250px;}
/*     box6     */
.box6{width:991px; height:501px; background:#fff;}
.box6 .zhong{width:960px; height:501px;margin:0 auto; overflow:hidden;}
.box6 .zhong .left{width:660px; height:501px; overflow:hidden; float:left;}
.box6 .zhong .left .tiyu{width:310px; height:501px;float:left; margin-right:20px;}
.box6 .zhong .left .tiyu .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.box6 .zhong .left .tiyu .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.box6 .zhong .left .tiyu .ti li a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu .ti li:hover{border-bottom:none; background:#fff;}
.box6 .zhong .left .tiyu div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.box6 .zhong .left .tiyu div.on{display:block;}
.box6 .zhong .left .tiyu div .kui{position:absolute; top:2px; left:0;}
.box6 .zhong .left .tiyu div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.box6 .zhong .left .tiyu div .t1 a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.box6 .zhong .left .tiyu div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.box6 .zhong .left .tiyu div .t2 li a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu div .t2 li img{position:absolute; top:3px; left:8px;}
.box6 .zhong .left .tiyu1 .nba{width:300px; height:150px;}
.box6 .zhong .left .tiyu1 .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.box6 .zhong .left .tiyu1 .nba li.b{font-weight:bold;}
.box6 .zhong .left .tiyu1 .nba li a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu1{width:310px; height:501px;float:left; margin-right:20px;}
.box6 .zhong .left .tiyu1 .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.box6 .zhong .left .tiyu1 .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.box6 .zhong .left .tiyu1 .ti li a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu1 .ti li:hover{border-bottom:none; background:#fff;}
.box6 .zhong .left .tiyu1 div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.box6 .zhong .left .tiyu1 div.on{display:block;}
.box6 .zhong .left .tiyu1 div .kui{position:absolute; top:2px; left:0;}
.box6 .zhong .left .tiyu1 div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.box6 .zhong .left .tiyu1 div .t1 a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu1 div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.box6 .zhong .left .tiyu1 div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.box6 .zhong .left .tiyu1 div .t2 li a{text-decoration:none; color:#666;}
.box6 .zhong .left .tiyu1 div .t2 li img{position:absolute; top:3px; left:8px;}
.box6 .zhong .left .tiyu .nba{width:300px; height:150px;}
.box6 .zhong .left .tiyu .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.box6 .zhong .left .tiyu .nba li.b{font-weight:bold;}
.box6 .zhong .left .tiyu .nba li a{text-decoration:none; color:#666;}
.box6 .zhong .right{width:298px; height:500px; float:left; border-left:1px solid #DFDFDF; border-right:1px solid #DFDFDF; border-bottom:11px solid #DFDFDF;}
.box6 .zhong .right .r1{width:298px; height:158px; }
.box6 .zhong .right .r1 .nanshi{overflow:hidden; width:298px; height:30px; border-top:2px solid #206f96; border-left:1px solid #DFDFDF;}
.box6 .zhong .right .r1 .nanshi li{background:#f7f7f7; border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; width:148px; height:29px; float:left; font-size:12px; text-align:center; line-height:29px;}
.box6 .zhong .right .r1 .nanshi li:hover{background:#fff; border-bottom:none;}
.box6 .zhong .right .r1 .nanshi li a{text-decoration:none; color:#666;}
.box6 .zhong .right .r1 div{display:none; width:298px; height:126px; position:relative; top:0; left:0;}
.box6 .zhong .right .r1 div.on{display:block;}
.box6 .zhong .right .r1 div img{position:absolute; top:27px; left:13px;}
.box6 .zhong .right .r1 div .bao{width:; height:; position:absolute; top:16px; left:153px;}
.box6 .zhong .right .r1 div .bao li{font-size:12px; line-height:25px;}
.box6 .zhong .right .r1 div .bao li a{text-decoration:none; color:#666;}
.box6 .zhong .right .r1 div i{width:130px; height:25px; background:#000; opacity:0.4; position:absolute; top:92px; left:13px;}
.box6 .zhong .right .r1 div .shu{font-size:12px; position:absolute; top:98px; left:20px;}
.box6 .zhong .right .r1 div .shu a{text-decoration:none; color:#fff;}
.box6 .zhong .right .r2{width:298px; height:260px;}
.box6 .zhong .right .r2 .mote{width:298px; height:30px; overflow:hidden; border-top:2px solid #206f96; border-left:1px solid #DFDFDF;}
.box6 .zhong .right .r2 .mote li{border-right:#dfdfdf solid 1px; border-bottom:1px solid #DFDFDF; background:#f5f5f5; float:left; width:148px; height:29px; line-height:29px; text-align:center; font-size:12px; }
.box6 .zhong .right .r2 .mote li a{text-decoration:none; color:#666;}
.box6 .zhong .right .r2 .mote li:hover{border-bottom:none; background:#fff;}
.box6 .zhong .right .r2 div{overflow:hidden; width:298px; height:228px; overflow:hidden; display:none;}
.box6 .zhong .right .r2 div.on{display:block;}
.box6 .zhong .right .r2 div .on{float:left; position:relative; top:0; left:0;width:130px; height:90px; background:yellow;display:block; margin-top:15px; margin-left:13px;}
.box6 .zhong .right .r2 div .on img{position:absolute; top:0; left:0;}
.box6 .zhong .right .r2 div .on i{width:130px; height:25px; background:#000; opacity:0.4; position:absolute; top:65px; left:0;}
.box6 .zhong .right .r2 div .on span{font-size:11px; position:absolute; top:71px; left:5px;}
.box6 .zhong .right .r2 div .on span a{text-decoration:none; color:#fff;}
.box6 .zhong .right .r3{ padding-top:10px; width:298px; height:71px; border-top:1px dotted #dfdfdf; border-bottom:1px solid #dfdfdf;}
.box6 .zhong .right .r3 .p1{font-size:14px; line-height:28px; text-indent:2em;}
.box6 .zhong .right .r3 .p1 a{text-decoration:none; color:#333;}
.box6 .zhong .right .r3 .p1 .p2{font-size:14px; line-height:28px; text-indent:2em;}
.box6 .zhong .right .r3 .p1 .p2 a{text-decoration:none; color:#666;}
.box6 .zhong .right .r3 .p3{font-size:14px; line-height:28px; text-indent:2em;}
.box6 .zhong .right .r3 .p3 a{text-decoration:none; color:#666;}
/*                    box7                 */
.box7{width:991px; height:599px; background:#fff; margin-top:12px;}
.box7 .zhong{width:960px; height:599px;margin:0 auto; overflow:hidden;}
.box7 .zhong .left{width:660px; height:599x; overflow:hidden; float:left;}
.box7 .zhong .left .left1{width:660px; height:599px; float:left;}
.box7 .zhong .left .left1 .tiyu{width:310px; height:394px;float:left; margin-right:18px;}
.box7 .zhong .left .left1 .tiyu .ti{width:310px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.box7 .zhong .left .left1 .tiyu .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.box7 .zhong .left .left1 .tiyu .ti li a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu .ti li:hover{border-bottom:none; background:#fff;}
.box7 .zhong .left .left1 .tiyu div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.box7 .zhong .left .left1 .tiyu div.on{display:block;}
.box7 .zhong .left .left1 .tiyu div .kui{position:absolute; top:2px; left:0;}
.box7 .zhong .left .left1 .tiyu div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.box7 .zhong .left .left1 .tiyu div .t1 a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.box7 .zhong .left .left1 .tiyu div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.box7 .zhong .left .left1 .tiyu div .t2 li a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu div .t2 li img{position:absolute; top:3px; left:8px;}
.box7 .zhong .left .left1 .tiyu1 .nba{width:300px; height:150px;}
.box7 .zhong .left .left1 .tiyu1 .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.box7 .zhong .left .left1 .tiyu1 .nba li.b{font-weight:bold;}
.box7 .zhong .left .left1 .tiyu1 .nba li a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu1{width:310px; height:501px;float:left; margin-right:20px;}
.box7 .zhong .left .left1 .tiyu1 .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.box7 .zhong .left .left1 .tiyu1 .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.box7 .zhong .left .left1 .tiyu1 .ti li a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu1 .ti li:hover{border-bottom:none; background:#fff;}
.box7 .zhong .left .left1 .tiyu1 div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.box7 .zhong .left .left1 .tiyu1 div.on{display:block;}
.box7 .zhong .left .left1 .tiyu1 div .kui{position:absolute; top:2px; left:0;}
.box7 .zhong .left .left1 .tiyu1 div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.box7 .zhong .left .left1 .tiyu1 div .t1 a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu1 div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.box7 .zhong .left .left1 .tiyu1 div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.box7 .zhong .left .left1 .tiyu1 div .t2 li a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .tiyu1 div .t2 li img{position:absolute; top:3px; left:8px;}
.box7 .zhong .left .left1 .tiyu .nba{width:300px; height:150px;}
.box7 .zhong .left .left1 .tiyu .nba li{height:29px; line-height:26px; font-size:14px; text-indent:1em;}
.box7 .zhong .left .left1 .tiyu .nba li.b{font-weight:bold;}
.box7 .zhong .left .left1 .tiyu .nba li a{text-decoration:none; color:#666;}
.box7 .zhong .left .left1 .di{height:105px; width:310px; position:relative; overflow:hidden; float:left; margin-right:10px;}
.box7 .zhong .left .left1 .di .d1{float:left; display:block;}
.box7 .zhong .left .left1 .di .d2{font-size:13px; color:#000; float:left; display:block; margin-top:12px; margin-left:14px;}
.box7 .zhong .left .left1 .di .d3{display:block; float:left; margin-top:12px; margin-left:11px;}
.box7 .zhong .left .left1 .di .d4{display:block; float:left; margin-top:12px; margin-left:11px; font-size:13px;}
.box7 .zhong .left .left1 .di .d4 a{text-decoration:none; color:#000;}
.box7 .zhong .left .left1 .di .d5{display:block; float:left; margin-top:12px; font-size:13px;}
.box7 .zhong .left .left1 .di .d5 a{text-decoration:none; color:#000;}
.box7 .zhong .left .left1 .di .d6{display:block; float:left; margin-top:12px; margin-left:11px; font-size:13px;}
.box7 .zhong .left .left1 .di .d7{display:block; float:left; margin-top:12px; font-size:13px; margin-left:11px;}
.box7 .zhong .left .left1 .di .d7 a{text-decoration:none; color:#000;}
.box7 .zhong .left .left1 .di .d8{display:block; float:left; margin-top:12px; font-size:13px; margin-left:11px;}
.box7 .zhong .left .left1 .di .d8 a{text-decoration:none; color:#000;}
.box7 .zhong .left .left1 .di .ul{width:201px; height:30px; float:right; overflow:hidden;}
.box7 .zhong .left .left1 .di .ul li{float:left; margin-right:5px; line-height:30px;}
.box7 .zhong .left .left1 .di .ul li span{font-size:12px; display:block; margin-top:4px; float:left; margin-right:4px; margin-left:4px;}
.box7 .zhong .left .left1 .di .ul li img{display:block; margin-top:12px; float:left;}
.box7 .zhong .left .left1 .di .ul li a{text-decoration:none; color:#000;}
.box7 .zhong .right{position:relative; height:599px; float:left; width:298px;border-right:1px solid #dfdfdf; border-left:1px solid #dfdfdf;}
.box7 .zhong .right .i{width:300px; height:250px; background:url(../img/taobao.png) no-repeat 0 0;}
.box7 .zhong .right .ul{width:; height:32px; overflow:hidden; background:#f2f2f2;}
.box7 .zhong .right .ul li{text-align:center; line-height:30px;font-size:13px; color:#376a77; float:left; width:73px; height:30px; border:1px solid #dfdfdf; border-left:none;}
.box7 .zhong .right .jiu{width:; height:305px; overflow:hidden; position:relative;}
.box7 .zhong .right .jiu img{position:absolute; top:18px; left:9px;}
.box7 .zhong .right .list{width:150px; height:20px; overflow:hidden; position:absolute; top:195px; left:80px;}
.box7 .zhong .right .list li{float:left; width:24px; height:5px; background:#e4e4e4; margin-right:7px;}
.box7 .zhong .right .list li.on{background:#7bbedf;}
.box7 .zhong .right .zi{display:block;width:298px; height:102px; position:absolute; bottom:0; right:0; padding-top:8px;}
.box7 .zhong .right .zi .z1{font-size:14px; text-indent:1em; line-height:23px; display:inline-block;}
.box7 .zhong .right .zi .z1 a{text-decoration:none; color:#000;}
.box7 .zhong .right .jiao{position:absolute; bottom:8px; left:8px; width:271px; height:20px; background:url(../img/jiu1.png)no-repeat 0 0;}
/*                       box8                   */
.box8{width:991px; height:130px; background:#fff; margin-top:12px;}
.box8 .zhong{width:960px; height:130px;margin:0 auto; overflow:hidden;}
.box9{width:991px;  background:#fff; margin-top:12px;}
.box9 .zhong{width:960px; margin:0 auto; overflow:hidden;}
.box9 .zhong .left{width:660px; height:404px; float:left; overflow:hidden;}
.box9 .zhong .left .tiyu{width:310px; height:404px; float:left; margin-right:20px;}
.box9 .zhong .left .tiyu .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.box9 .zhong .left .tiyu .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.box9 .zhong .left .tiyu .ti li a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu .ti li:hover{border-bottom:none; background:#fff;}
.box9 .zhong .left .tiyu div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.box9 .zhong .left .tiyu div.on{display:block;}
.box9 .zhong .left .tiyu div .kui{position:absolute; top:2px; left:0;}
.box9 .zhong .left .tiyu div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.box9 .zhong .left .tiyu div .t1 a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.box9 .zhong .left .tiyu div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.box9 .zhong .left .tiyu div .t2 li a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu div .t2 li img{position:absolute; top:3px; left:8px;}
.box9 .zhong .left .tiyu1 .nba{width:300px; height:150px;}
.box9 .zhong .left .tiyu1 .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.box9 .zhong .left .tiyu1 .nba li.b{font-weight:bold;}
.box9 .zhong .left .tiyu1 .nba li a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu1{width:310px; height:501px;float:left; margin-right:20px;}
.box9 .zhong .left .tiyu1 .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.box9 .zhong .left .tiyu1 .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.box9 .zhong .left .tiyu1 .ti li a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu1 .ti li:hover{border-bottom:none; background:#fff;}
.box9 .zhong .left .tiyu1 div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.box9 .zhong .left .tiyu1 div.on{display:block;}
.box9 .zhong .left .tiyu1 div .kui{position:absolute; top:2px; left:0;}
.box9 .zhong .left .tiyu1 div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.box9 .zhong .left .tiyu1 div .t1 a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu1 div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.box9 .zhong .left .tiyu1 div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.box9 .zhong .left .tiyu1 div .t2 li a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu1 div .t2 li img{position:absolute; top:3px; left:8px;}
.box9 .zhong .left .tiyu .nba{width:300px; height:150px;}
.box9 .zhong .left .tiyu .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.box9 .zhong .left .tiyu .nba li.b{font-weight:bold; color:#000;}
.box9 .zhong .left .tiyu .nba li a{text-decoration:none; color:#666;}
.box9 .zhong .left .tiyu .wei{float:left; margin-top:20px;}
.box9 .zhong .left .tiyu .ul{width:201px; height:60px; float:right; overflow:hidden; margin-top:20px;}
.box9 .zhong .left .tiyu .ul li{float:left; margin-right:5px; line-height:30px;}
.box9 .zhong .left .tiyu .ul li span{font-size:12px; display:block; margin-top:4px; float:left; margin-right:4px; margin-left:4px;}
.box9 .zhong .left .tiyu .ul li img{display:block; margin-top:12px; float:left;}
.box9 .zhong .left .tiyu .ul li a{text-decoration:none; color:#000;}
.box9 .zhong .right{width:298px; height:413px; background:url(../img/jiao.png)no-repeat 0 0; float:left;}
/*              box10                  */
.box10{width:991px; height:556px; background:#fff; margin-top:12px;}
.box10 .zhong{width:960px; height:556px;margin:0 auto; overflow:hidden;}
.box10 .zhong .left{width:100%px; height:556px; float:left; overflow:hidden;}
.box10 .zhong .left .left1{width:310px; height:556px; float:left; margin-right:13px;}
.box10 .zhong .left .left1 .top{width:300px; height:100px; background:url(../img/ding.png)no-repeat; margin-bottom:12px;}
.box10 .zhong .left .left1 .bottom{width:300px; height:444px; }
.box10 .zhong .left .left1 .bottom .ul{width:299; height:30px; overflow:hidden; border-left:1px solid #dfdfdf; border-top:2px solid #206f96;}
.box10 .zhong .left .left1 .bottom .ul li{background:#f8f8f8; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; float:left; width:98px; height:29px; background:; text-align:center; line-height:29px; font-size:14px; color:#000;}
.box10 .zhong .left .left1 .bottom .ul li img{display:block; margin-top:4px; float:left; margin-left:18px;}
.box10 .zhong .left .left1 .bottom .ul li span{display:block; float:left; margin-left:4px;}
.box10 .zhong .left .left1 .bottom .ul li div{display:inline-block;}
.box10 .zhong .left .left1 .bottom .ul li:hover{border:none; background:#fff;}
.box10 .zhong .left .left1 .bottom .div{border-bottom:1px dotted #dfdfdf; width:310px; height:131px; overflow:hidden; position:relative; padding-top:18px;}
.box10 .zhong .left .left1 .bottom .div img{float:left; }
.box10 .zhong .left .left1 .bottom .div .list{width:180px; height:131px; position:absolute; top:18px; right:0;}
.box10 .zhong .left .left1 .bottom .div .list li{line-height:23px; font-size:12px; margin-left:4px;}
.box10 .zhong .left .left1 .bottom .div .list li a{text-decoration:none; color:#333;}
.box10 .zhong .left .left1 .bottom .div .biao{font-size:12px; color:#333; position:absolute; top:118px; left:0;}
.box10 .zhong .left .left1 .bottom .div .biao a{text-decoration:none; color:#333;}
.box10 .zhong .left .left1 .bottom .div .list li .dian{width:3px; height:3px; background:#dfdfdf; float:left; margin-right:6px; margin-top:10px;}
.box10 .zhong .left .left1 .bottom .div1{width:310px; height:155px; }
.box10 .zhong .left .left1 .bottom .div1 .list1{width:310px; height:155px;}
.box10 .zhong .left .left1 .bottom .div1 .list1 .li{line-height:27px; font-size:14px; margin-left:4px;}
.box10 .zhong .left .left1 .bottom .div1 .list1 .li a{text-decoration:none; color:#333;}
.box10 .zhong .left .left1 .bottom .div1 .list1 .li1{line-height:27px; font-size:14px; font-weight:bold; margin-left:4px;}
.box10 .zhong .left .left1 .bottom .div1 .list1 li .dian{width:3px; height:3px; background:#dfdfdf; float:left; margin-right:6px; margin-top:10px;}

.box10 .zhong .left .left1 .bottom .div1 .list1 .li1 a{text-decoration:none; color:#000;}
.box10 .zhong .left .left1 .bottom .div2{width:310px; height:107px; position:relative;}
.box10 .zhong .left .left1 .bottom .div2 img{position:absolute; top:0; left:0;}
.box10 .zhong .left .left1 .bottom .div2 .p1{font-size:13px; color:#000; position:absolute; top:5px; left:111px;}
.box10 .zhong .left .left1 .bottom .div2 .p2{font-size:14px; color:#000; position:absolute; top:30px; left:0px;}
.box10 .zhong .left .left1 .bottom .div2 .da{overflow:hidden; width:200px; height:30px; position:absolute; bottom:20px; right:0;}
.box10 .zhong .left .left1 .bottom .div2 .da li{float:left; overflow:hidden; font-size:12px; margin-right:5px;}
.box10 .zhong .left .left1 .bottom .div2 .da li img{display:block; float:left; margin-top:1px; margin-right:5px;} 
.box10 .zhong .left .left1 .bottom .div2 .da li span{display:block; color:#333; float:left; margin-right:5px;}
.box10 .zhong .right{width:298px; height:556px; float:left; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
.box10 .zhong .right .top{width:298px; height:250px; background:url(../img/dianran.png)no-repeat 0 0;}
.box10 .zhong .right .bottom{width:298px; height:281px; background:url(../img/jiaoyou.png)no-repeat 0 0; margin-top:14px;}
.box11{width:991px; height:131px; background:#fff; margin-top:12px;}
.box11 .zhong{width:960px; height:131px;margin:0 auto; overflow:hidden;}
/*                  box12                                      */
.box12{width:991px; height:293px; background:#fff; margin-top:12px; border-bottom:1px solid #dfdfdf;}
.box12 .zhong{width:960px; height:293px;margin:0 auto; overflow:hidden;}
.box12 .zhong .ul{background:#f2f2f2; height:30px; overflow:hidden; border-top:1px solid #206f96; border-left:1px solid #dfdfdf;}
.box12 .zhong .ul li{float:left; height:29px; width:100px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; text-align:center; line-height:29px; font-size:13px; background:#f2f2f2;}
.box12 .zhong .ul li a{text-decoration:none; color:#252525;}
.box12 .zhong .ul li:hover{background:#fff; border:none; font-weight:bold;}
.box12 .zhong .tu{height:261px; overflow:hidden; padding-top:18px;}
.box12 .zhong .tu .bao{width:150px; height:150px; float:left; position:relative; margin-right:8px;}
.box12 .zhong .tu .bao img{float:left; display:block; width:150px; height:150px;}
.box12 .zhong .tu .bao i{width:150px; height:20px; position:absolute; bottom:0; left:0; background:#000; opacity:0.5;}
.box12 .zhong .tu .bao span{font-size:12px; position:absolute; bottom:4px; left:6px; color:#fff;}
/*                  box13                   */
.box13{width:991px; height:392px; background:#f6f6f6; margin-top:12px; border-bottom:1px solid #dfdfdf;}
.box13 .zhong{width:960px; height:380px;margin:0 auto; overflow:hidden; padding-top:12px; position:relative;}
.box13 .zhong .tu{width:150px; height:150px; float:left; overflow:hidden; margin-right:12px;}
.box13 .zhong .tu img{float:left; display:block;}
.box13 .zhong .bao{ padding-left:12px; width:138px; height:150px; float:left; margin-right:12px; background:#e8e8e8; margin-bottom:12px;}
.box13 .zhong .bao h2{font-size:12px; color:#000; height:37px; line-height:37px;}
.box13 .zhong .bao .ul{height:113px; overflow:hidden;}
.box13 .zhong .bao .ul li{float:left; margin-right:44px; height:25px; line-height:25px; font-size:12px;}
.box13 .zhong .bao .ul li a{text-decoration:none; color:#252525;}
.box13 .zhong .bao1{ padding-left:12px; width:138px; height:150px; float:left; background:#e8e8e8;}
.box13 .zhong .bao1 h2{font-size:12px; color:#000; height:37px; line-height:37px;}
.box13 .zhong .bao1 .ul{height:113px; overflow:hidden;}
.box13 .zhong .bao1 .ul li{float:left; margin-right:44px; height:25px; line-height:25px; font-size:12px;}
.box13 .zhong .bao1 .ul li a{text-decoration:none; color:#252525;}
.box13 .zhong .p{font-size:12px; color:#252525; position:absolute; bottom:19px; right:35px;}
.box13 .zhong .bo{position:absolute; bottom:18px; right:12px;}
.box14{width:991px; height:200px; background:#fff; margin-top:12px; border-bottom:1px solid #dfdfdf;}
.box14 .zhong{margin-top:1px; background:#f6f6f6; width:960px; margin:0 auto; overflow:hidden; padding-top:12px; position:relative;}
.box14 .zhong .ul{float:left; margin-top:28px; width:207px; margin-right:20px;}
.box14 .zhong .ul li{height:26px; line-height:26px; font-size:12px;}
.box14 .zhong .ul li a{text-decoration:none; color:#666;}
.box15{width:991px; height:40px; background:#333;border-bottom:1px solid #fff;}
.box15 .ul{padding-left:13px; overflow:hidden;}
.box15 .ul li{font-size:12px; float:left; margin-right:10px; line-height:39px;}
.box15 .ul li a{text-decoration:none; color:#ddd;}
.box9test{width:991px; height:542px; background:#fff;}
.box9test .zhong{margin:0 auto; width:960px;}
.box9test .zhong .left{width:640px; float:left; overflow:hidden;}
.box9test .zhong .left {width:640px; height:542px; float:left; overflow:hidden;}
.box9test .zhong .left .tu{width:640px; height:99px;background:url(../img/suning.png)no-repeat; margin-bottom:12px;}
.box9test.box9test.box9test.box9test .zhong .left .left1{width:310px; height:430px; float:left;}
.box9test.box9test .zhong .left .left1 .bottom{width:300px; height:444px; }
.box9test .zhong .left .left1 .bottom .ul{width:299; height:30px; overflow:hidden; border-left:1px solid #dfdfdf; border-top:2px solid #206f96;}
.box9test .zhong .left .left1 .bottom .ul li{background:#f8f8f8; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; float:left; width:98px; height:29px; background:; text-align:center; line-height:29px; font-size:14px; color:#000;}
.box9test .zhong .left .left1 .bottom .ul li img{display:block; margin-top:4px; float:left; margin-left:18px;}
.box9test .zhong .left .left1 .bottom .ul li span{display:block; float:left; margin-left:4px;}
.box9test .zhong .left .left1 .bottom .ul li div{display:inline-block;}
.box9test .zhong .left .left1 .bottom .ul li:hover{border:none; background:#fff;}
.box9test .zhong .left .left1 .bottom .div{border-bottom:1px dotted #dfdfdf; width:310px; height:131px; overflow:hidden; position:relative; padding-top:18px;}
.box9test .zhong .left .left1 .bottom .div img{float:left; }
.box9test .zhong .left .left1 .bottom .div .list{width:180px; height:131px; position:absolute; top:18px; right:0;}
.box9test .zhong .left .left1 .bottom .div .list li{line-height:23px; font-size:12px; margin-left:4px;}
.box9test .zhong .left .left1 .bottom .div .list li a{text-decoration:none; color:#333;}
.box9test .zhong .left .left1 .bottom .div .biao{font-size:12px; color:#333; position:absolute; top:118px; left:0;}
.box9test .zhong .left .left1 .bottom .div .biao a{text-decoration:none; color:#333;}
.box9test .zhong .left .left1 .bottom .div .list li .dian{width:3px; height:3px; background:#dfdfdf; float:left; margin-right:6px; margin-top:10px;}
.box9test .zhong .left .left1 .bottom .div1{width:310px; height:155px; }
.box9test .zhong .left .left1 .bottom .div1 .list1{width:310px; height:155px;}
.box9test .zhong .left .left1 .bottom .div1 .list1 .li{line-height:27px; font-size:14px; margin-left:4px;}
.box9test .zhong .left .left1 .bottom .div1 .list1 .li a{text-decoration:none; color:#333;}
.box9test .zhong .left .left1 .bottom .div1 .list1 .li1{line-height:27px; font-size:14px; font-weight:bold; margin-left:4px;}
.box9test .zhong .left .left1 .bottom .div1 .list1 li .dian{width:3px; height:3px; background:#dfdfdf; float:left; margin-right:6px; margin-top:10px;}

.box9test .zhong .left .left1 .bottom .div1 .list1 .li1 a{text-decoration:none; color:#000;}
.box9test .zhong .left .left1 .bottom .div2{width:360px; height:107px; position:relative; }
.box9test .zhong .left .left1 .bottom .div2 .da{overflow:hidden; width:300px; height:30px; position:absolute; bottom:20px; right:0;}
.box9test .zhong .left .left1 .bottom .div2 .da li{float:left; overflow:hidden; font-size:12px; margin-right:5px;}
.box9test .zhong .left .left1 .bottom .div2 .da li img{display:block; float:left; margin-top:1px; margin-right:5px;} 
.box9test .zhong .left .left1 .bottom .div2 .da li span{display:block; color:#333; float:left; margin-right:5px;}
.box9test .zhong .right{width:300px; height:542px; overflow:hidden; float:left;}
.box9test .zhong .right img{width:298px; height:542px; display:block; float:left;}
.boxgai{width:991px; height:855px; background:#fff; margin-top:12px;}
.boxgai .zhong{width:960px; height:855px; margin:0 auto; overflow:hidden;}
.boxgai .zhong .left{width:660px; height:855px; float:left; overflow:hidden;}
.boxgai .zhong .left .tiyu{width:310px; height:404px; float:left; margin-right:20px;}
.boxgai .zhong .left .tiyu .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.boxgai .zhong .left .tiyu .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.boxgai .zhong .left .tiyu .ti li a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu .ti li:hover{border-bottom:none; background:#fff;}
.boxgai .zhong .left .tiyu div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.boxgai .zhong .left .tiyu div.on{display:block;}
.boxgai .zhong .left .tiyu div .kui{position:absolute; top:2px; left:0;}
.boxgai .zhong .left .tiyu div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.boxgai .zhong .left .tiyu div .t1 a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.boxgai .zhong .left .tiyu div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.boxgai .zhong .left .tiyu div .t2 li a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu div .t2 li img{position:absolute; top:3px; left:8px;}
.boxgai .zhong .left .tiyu1 .nba{width:300px; height:150px;}
.boxgai .zhong .left .tiyu1 .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.boxgai .zhong .left .tiyu1 .nba li.b{font-weight:bold;}
.boxgai .zhong .left .tiyu1 .nba li a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu1{width:310px; height:501px;float:left; margin-right:20px;}
.boxgai .zhong .left .tiyu1 .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.boxgai .zhong .left .tiyu1 .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.boxgai .zhong .left .tiyu1 .ti li a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu1 .ti li:hover{border-bottom:none; background:#fff;}
.boxgai .zhong .left .tiyu1 div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.boxgai .zhong .left .tiyu1 div.on{display:block;}
.boxgai .zhong .left .tiyu1 div .kui{position:absolute; top:2px; left:0;}
.boxgai .zhong .left .tiyu1 div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.boxgai .zhong .left .tiyu1 div .t1 a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu1 div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.boxgai .zhong .left .tiyu1 div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.boxgai .zhong .left .tiyu1 div .t2 li a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu1 div .t2 li img{position:absolute; top:3px; left:8px;}
.boxgai .zhong .left .tiyu .nba{width:300px; height:150px;}
.boxgai .zhong .left .tiyu .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.boxgai .zhong .left .tiyu .nba li.b{font-weight:bold; color:#000;}
.boxgai .zhong .left .tiyu .nba li a{text-decoration:none; color:#666;}
.boxgai .zhong .left .tiyu .wei{float:left; margin-top:60px;}
.boxgai .zhong .left .tiyu .ul{width:201px; height:60px; float:right; overflow:hidden; margin-top:60px;}
.boxgai .zhong .left .tiyu .ul li{float:left; margin-right:5px; line-height:30px;}
.boxgai .zhong .left .tiyu .ul li span{font-size:12px; display:block; margin-top:4px; float:left; margin-right:4px; margin-left:4px;}
.boxgai .zhong .left .tiyu .ul li img{display:block; margin-top:12px; float:left;}
.boxgai .zhong .left .tiyu .ul li a{text-decoration:none; color:#000;}
.boxgai .zhong .right{width:298px; height:855px;float:left; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
.boxgai .zhong .right .right1{width:298px; height:262px; overflow:hidden; position:relative;}
.boxgai .zhong .right .right1 .font1{font-size:28px; color:#00f; text-decoration:none; display:block; margin-left:23px; margin-top:8px;}
.boxgai .zhong .right .right1 .font2{font-size:28px; color:#00f; text-decoration:none; display:block; margin-left:90px; margin-top:8px;}
.boxgai .zhong .right .right1 .font3{font-size:20px; color:#000; text-decoration:none; display:block; margin-left:10px; margin-top:16px;}
.boxgai .zhong .right .right1 .font4{font-size:20px; color:#000; text-decoration:none; display:block; margin-left:10px; margin-top:8px;}
.boxgai .zhong .right .right1 .font5{font-size:20px; color:#000; text-decoration:none; display:block; margin-left:130px; margin-top:8px;}
.boxgai .zhong .right .right1 .dian{width:10px; height:10px; background:#aaa; border-radius:10px; float:left; margin-left:132px; margin-top:16px;}
.boxgai .zhong .right .right1 .dian1{width:10px; height:10px; background:#fff; border:1px solid #dfdfdf; border-radius:10px; float:left; margin-left:15px; margin-top:16px;}
.boxgai .zhong .right .right1 .k{width:125px; height:46px; background:#a5a5a5; text-align:center; line-height:46px; font-size:16px; color:white; font-weight:bold; border-radius:6px; position:absolute; bottom:5px; left:88px;}
.boxgai .zhong .right .right1 .k a{text-decoration:none;color:#fff; position:absolute; bottom:20px; left:146px; font-size:16px;}
.boxgai .zhong .right 
.boxgai .zhong .right .tiyu{width:310px; height:404px; float:left; margin-right:20px;}
.boxgai .zhong .right .tiyu .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.boxgai .zhong .right .tiyu .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.boxgai .zhong .right .tiyu .ti li a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu .ti li:hover{border-bottom:none; background:#fff;}
.boxgai .zhong .right .tiyu div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.boxgai .zhong .right .tiyu div.on{display:block;}
.boxgai .zhong .right .tiyu div .kui{position:absolute; top:2px; left:0;}
.boxgai .zhong .right .tiyu div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.boxgai .zhong .right .tiyu div .t1 a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.boxgai .zhong .right .tiyu div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.boxgai .zhong .right .tiyu div .t2 li a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu div .t2 li img{position:absolute; top:3px; left:8px;}
.boxgai .zhong .right .tiyu1 .nba{width:300px; height:150px;}
.boxgai .zhong .right .tiyu1 .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.boxgai .zhong .right .tiyu1 .nba li.b{font-weight:bold;}
.boxgai .zhong .right .tiyu1 .nba li a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu1{width:310px; height:501px;float:left; margin-right:20px;}
.boxgai .zhong .right .tiyu1 .ti{width:308px; height:30px; overflow:hidden; border-left:1px solid #DFDFDF; border-top:2px solid #206f96;}
.boxgai .zhong .right .tiyu1 .ti li{border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF;width:101px; height:29px; background:#f7f7f7; float:left; text-align:center; line-height:29px; font-size:12px;}
.boxgai .zhong .right .tiyu1 .ti li a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu1 .ti li:hover{border-bottom:none; background:#fff;}
.boxgai .zhong .right .tiyu1 div{display:none;border-bottom:1px dotted #DFDFDF; width:300px; height:133px; position:relative; top:0; left:0;}
.boxgai .zhong .right .tiyu1 div.on{display:block;}
.boxgai .zhong .right .tiyu1 div .kui{position:absolute; top:2px; left:0;}
.boxgai .zhong .right .tiyu1 div .t1{font-size:12px; position:absolute; top:101px; left:1px;}
.boxgai .zhong .right .tiyu1 div .t1 a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu1 div .t2{width:160px; height:133px; position:absolute; top:0; left:140px;}
.boxgai .zhong .right .tiyu1 div .t2 li{height:24px;position:relative; top:0; left:0; font-size:12px; line-height:20px; }
.boxgai .zhong .right .tiyu1 div .t2 li a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu1 div .t2 li img{position:absolute; top:3px; left:8px;}
.boxgai .zhong .right .tiyu .nba{width:300px; height:150px;}
.boxgai .zhong .right .tiyu .nba li{height:29px; line-height:29px; font-size:14px; text-indent:1em;}
.boxgai .zhong .right .tiyu .nba li.b{font-weight:bold; color:#000;}
.boxgai .zhong .right .tiyu .nba li a{text-decoration:none; color:#666;}
.boxgai .zhong .right .tiyu .wei{float:left; margin-top:20px;}
.boxgai .zhong .right .tiyu .ul{width:201px; height:60px; float:right; overflow:hidden; margin-top:20px;}
.boxgai .zhong .right .tiyu .ul li{float:left; margin-right:5px; line-height:30px;}
.boxgai .zhong .right .tiyu .ul li span{font-size:12px; display:block; margin-top:4px; float:left; margin-right:4px; margin-left:4px;}
.boxgai .zhong .right .tiyu .ul li img{display:block; margin-top:12px; float:left;}
.boxgai .zhong .right .tiyu .ul li a{text-decoration:none; color:#000;}























