@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.box {
  width: 1007px;
  height: 3200px;
  background: pink;
  margin: 0 auto;
}
.box .box1 {
  width: 1007px;
  height: 41px;
  background: #1a1a1a;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.box .box1 .logo {
  float: left;
}
.box .box1 .jia {
  width: 54px;
  height: 16px;
  float: left;
  border-right: 1px dotted #717171;
  overflow: hidden;
  margin-top: 13px;
  margin-left: 30px;
  margin-right: 8px;
}
.box .box1 .jia .zi {
  font-size: 12px;
  width: 37px;
  color: #ccc;
  display: block;
  float: left;
  margin-top: 1px;
}
.box .box1 .jia .jiao {
  flaot: left;
  margin-top: 6px;
  margin-right: 8px;
  display: block;
}
.box .box1 .font {
  font-size: 12px;
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 16px;
}
.box .box1 .font a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .div1 {
  height: 41px;
  float: left;
  margin-right: 16px;
}
.box .box1 .div1 .zi1 {
  display: block;
  float: left;
  font-size: 12px;
  margin-top: 15px;
  margin-right: 3px;
}
.box .box1 .div1 .zi1 a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .div1 .zi1 a:hover {
  color: red;
}
.box .box1 .div1 .biao {
  display: block;
  float: left;
  margin-top: 19px;
}
.box .box1 input {
  border: none;
  width: 131px;
  height: 29px;
  float: left;
  font-size: 13px;
  margin-top: 6px;
  margin-left: 45px;
  background: #d8d8d8;
  border-radius: 15px;
}
.box .box1 .jing {
  position: absolute;
  top: 13px;
  right: 227px;
}
.box .box1 .deng {
  font-size: 12px;
  display: inline-block;
  float: left;
  margin-left: 80px;
  margin-top: 15px;
}
.box .box1 .deng a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .deng a:hover {
  color: red;
}
.box .box1 .zhuce {
  font-size: 12px;
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 8px;
}
.box .box1 .zhuce a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .zhuce a:hover {
  color: red;
}
.box .box2 {
  width: 1007px;
  height: 106px;
  background: #f5f5f5;
  overflow: hidden;
}
.box .box2 .tu {
  float: left;
  margin-top: 18px;
  margin-left: 18px;
}
.box .box2 .p1 {
  font-size: 24px;
  color: #669900;
  font-weight: bold;
  margin-top: 46px;
  margin-left: 10px;
  float: left;
}
.box .box2 .ul {
  width: 534px;
  height: 25px;
  margin-top: 52px;
  float: right;
  overflow: hidden;
}
.box .box2 .ul li {
  height: 25px;
  float: left;
  margin-right: 18px;
  overflow: hidden;
}
.box .box2 .ul li .zi {
  font-size: 16px;
  color: #666;
  display: block;
  float: left;
  margin-right: 16px;
}
.box .box2 .ul li .zi1 {
  font-size: 16px;
  color: #669900;
  display: block;
  float: left;
  margin-right: 16px;
}
.box .box2 .ul li .shu {
  float: left;
  margin-top: 5px;
}
.box .box3 {
  width: 1000px;
  height: 389px;
  background: #fff;
  border-left: 4px solid #efefef;
  border-right: 3px solid #efefef;
}
.box .box3 .left {
  float: left;
  width: 590px;
  padding-left: 18px;
  padding-top: 20px;
  height: 401px;
}
.box .box3 .left img {
  float: left;
  margin-right: 1px;
}
.box .box3 .right {
  float: left;
  width: 392px;
  height: 385px;
}
.box .box3 .right .s {
  width: 392px;
  height: 50px;
  overfow: hidden;
}
.box .box3 .right .s .s1 {
  font-size: 24px;
  color: #669900;
  display: block;
  float: left;
  margin-top: 20px;
  font-weight: bold;
}
.box .box3 .right .s .s2 {
  font-size: 12px;
  color: #999;
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 7px;
}
.box .box3 .right .x {
  width: 370px;
  height: 332px;
  border-top: #669900 2px solid;
}
.box .box3 .right .x .x1 {
  position: relative;
  top: 0;
  left: 0;
  width: 371px;
  height: 25px;
}
.box .box3 .right .x .x1 .lv {
  position: absolute;
  top: 0;
  left: 13px;
}
.box .box3 .right .x .x1 .ul {
  width: 180px;
  height: 17px;
  float: left;
  position: absolute;
  top: 8px;
  left: 5px;
  overflow: hidden;
}
.box .box3 .right .x .x1 .ul .li {
  float: left;
  font-size: 12px;
  color: #666;
}
.box .box3 .right .x .x1 .ul .li1 {
  float: left;
  font-size: 12px;
  color: #669900;
}
.box .box3 .right .x .x1 .san {
  font-size: 12px;
  display: block;
  float: right;
  color: #666;
  margin-top: 12px;
}
.box .box3 .right .x .x1 .ul1 {
  width: 370px;
  height: 291px;
  position: relative;
  top: 30px;
  left: 0;
  border: 1px solid #ccc;
}
.box .box3 .right .x .x1 .ul1 li {
  height: 27px;
  width: 370px;
  position: relative;
  top: 0;
  left: 0;
}
.box .box3 .right .x .x1 .ul1 li .zi {
  font-size: 12px;
  color: #e45b9e;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.box .box3 .right .x .x1 .ul1 li .zii {
  font-size: 12px;
  color: #669900;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.box .box3 .right .x .x1 .ul1 li .zi1 {
  font-size: 12px;
  color: #669900;
  position: absolute;
  bottom: 0;
  left: 31px;
}
.box .box3 .right .x .x1 .ul1 li .zi2 {
  font-size: 12px;
  color: #666;
  position: absolute;
  bottom: 0;
  left: 202px;
}
.box .box3 .right .x .x1 .ul1 li .zi3 {
  font-size: 12px;
  color: #666;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 318px;
}
.box .box3 .right .x .x1 .ul1 li .zi4 {
  position: absolute;
  bottom: 2px;
  right: 5px;
}
.box .box4 {
  width: 1000px;
  height: 349px;
  background: #fff;
  border-left: 4px solid #efefef;
  border-right: 3px solid #efefef;
}
.box .box4 .top {
  width: 1000px;
  height: 67px;
  float: left;
}
.box .box4 .top .t {
  float: left;
  display: block;
  margin-bottom: 0;
  margin-left: 20px;
}
.box .box4 .top .shu {
  width: 1px;
  height: 32px;
  background: #d5d5d5;
  float: left;
  margin-left: 8px;
  margin-top: 28px;
}
.box .box4 .top .p1 {
  font-size: 12px;
  color: #999;
  display: block;
  float: left;
  margin-top: 37px;
  margin-left: 17px;
}
.box .box4 .top .p2 {
  font-size: 14px;
  color: #999;
  float: left;
  display: block;
  margin-top: 36px;
  margin-left: 138px;
}
.box .box4 .top .p2 .p3 {
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
.box .box4 .top .bao {
  width: 270px;
  height: 21px;
  margin-top: 36px;
  float: right;
}
.box .box4 .top .bao .tian {
  width: 21px;
  height: 21px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  font-size: 12px;
  color: #669900;
  text-align: center;
  line-height: 21px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.box .box4 .top .bao .tian1 {
  font-size: 12px;
  color: #333;
  float: left;
  margin-top: 3px;
  display: block;
  margin-right: 10px;
}
.box .box4 .bottom {
  width: 980px;
  height: 261px;
  padding-left: 20px;
  overflow: hidden;
}
.box .box4 .bottom .div1 {
  width: 182px;
  height: 242px;
  margin-right: 13px;
  overflow: hidden;
  float: left;
  position: relative;
  top: 0;
  left: 0;
}
.box .box4 .bottom .div1 .kuang {
  width: 180px;
  height: 240px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
}
.box .box4 .bottom .div1 .play {
  position: absolute;
  top: 2px;
  left: 3px;
}
.box .box5 {
  width: 1000px;
  height: 244px;
  background: #fff;
  border-left: 4px solid #efefef;
  border-right: 3px solid #efefef;
}
.box .box5 .top {
  width: 1000px;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.box .box5 .top .s {
  float: left;
  margin-top: 42px;
  margin-left: 0;
}
.box .box5 .top .p1 {
  font-size: 24px;
  color: #669900;
  font-weight: bold;
  position: absolute;
  top: 42px;
  left: 35px;
}
.box .box5 .top .p2 {
  display: block;
  font-size: 13px;
  color: #666;
  float: right;
  margin-top: 66px;
  margin-right: 24px;
}
.box .box5 .bottom {
  width: 980px;
  height: 164px;
  padding-left: 20px;
  overflow: hidden;
}
.box .box5 .bottom .div1 {
  width: 184px;
  height: 144px;
  float: left;
  margin-right: 8px;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 18px;
  border: 1px solid #e8e8e8;
}
.box .box5 .bottom .div1 .d1 {
  position: absolute;
  top: 1px;
  left: 2px;
}
.box .box5 .bottom .div1 .d2 {
  font-size: 12px;
  color: #666;
  position: absolute;
  top: 118px;
  left: 4px;
}
.box .box6 {
  width: 1000px;
  height: 426px;
  background: #fff;
  border-left: 4px solid #efefef;
  border-right: 3px solid #efefef;
}
.box .box6 .top {
  width: 1000px;
  height: 97px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.box .box6 .top .n {
  float: left;
  margin-top: 58px;
  margin-left: 0;
}
.box .box6 .top .p1 {
  font-size: 24px;
  font-weight: bold;
  color: #669900;
  position: absolute;
  top: 59px;
  left: 33px;
}
.box .box6 .top .p2 {
  font-size: 14px;
  color: #666;
  display: block;
  float: right;
  margin-top: 80px;
  margin-right: 24px;
}
.box .box6 .bottom {
  width: 980px;
  height: 342px;
  padding-left: 20px;
  overflow: hidden;
}
.box .box6 .bottom .div1 {
  width: 184px;
  height: 144px;
  float: left;
  margin-right: 8px;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 18px;
  border: 1px solid #e8e8e8;
}
.box .box6 .bottom .div1 .mei {
  position: absolute;
  top: 1px;
  left: 2px;
}
.box .box6 .bottom .div1 .p1 {
  font-size: 12px;
  color: #666;
  position: absolute;
  top: 118px;
  left: 4px;
}
.box .box7 {
  width: 1000px;
  height: 424px;
  background: #fff;
  border-left: 4px solid #efefef;
  border-right: 3px solid #efefef;
}
.box .box7 .top {
  width: 1000px;
  height: 99px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.box .box7 .top .news {
  float: left;
  margin-top: 42px;
  margin-left: 0;
}
.box .box7 .top .p1 {
  font-size: 24px;
  color: #669900;
  position: absolute;
  top: 42px;
  left: 34px;
  font-weight: bold;
}
.box .box7 .top .p2 {
  font-size: 14px;
  color: #666;
  display: block;
  float: right;
  margin-right: 24px;
  margin-top: 67px;
}
.box .bottom {
  width: 980px;
  height: 343px;
  padding-left: 20px;
  overflow: hidden;
}
.box .bottom .left {
  width: 472px;
  height: 277px;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #e8e8e8;
}
.box .bottom .left .shu {
  position: absolute;
  top: 1px;
  left: 2px;
}
.box .bottom .right {
  float: left;
  width: 489px;
  height: 279px;
  margin-left: 17px;
  overflow: hidden;
}
.box .bottom .right .div1 {
  width: 224px;
  height: 277px;
  float: left;
  margin-right: 17px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  position: relative;
  top: 0;
  left: 0;
}
.box .bottom .right .div1 .tu {
  position: absolute;
  top: 1px;
  left: 2px;
  display: block;
}
.box .bottom .right .div1 .ul {
  width: 225px;
  height: 144px;
  margin-top: 133px;
}
.box .bottom .right .div1 .ul li {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #333;
  text-indent: 1em;
  border-bottom: 1px solid #e8e8e8;
}
.box .box8 {
  width: 1000px;
  height: 604px;
  background: #f8f7f7;
  border-left: 4px solid #f8f7f7;
  border-right: 3px solid #f8f7f7;
}
.box .box8 .top {
  width: 1000px;
  height: 74px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.box .box8 .top .tu {
  float: left;
  margin-top: 20px;
  margin-left: 0;
}
.box .box8 .top .p1 {
  font-size: 24px;
  color: #669900;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 34px;
}
.box .box8 .top .d1 {
  width: 118px;
  height: 29px;
  border: 1px solid #c4c4c4;
  float: left;
  margin-top: 19px;
  margin-left: 26px;
  font-size: 15px;
  color: #333;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
}
.box .box8 .top .zuo {
  position: absolute;
  top: 30px;
  left: 249px;
}
.box .box8 .top .you {
  position: absolute;
  top: 30px;
  left: 342px;
}
.box .box8 .top .shu {
  width: 1px;
  height: 27px;
  background: #c4c4c4;
  position: absolute;
  top: 21px;
  left: 266px;
}
.box .box8 .top .shu1 {
  width: 1px;
  height: 27px;
  background: #c4c4c4;
  position: absolute;
  top: 21px;
  left: 329px;
}
.box .box8 .top .ul {
  width: 318px;
  height: 24px;
  float: right;
  overflow: hidden;
  margin-top: 21px;
}
.box .box8 .top .ul li {
  float: left;
  overflow: hidden;
  margin-right: 18px;
}
.box .box8 .top .ul li .p2 {
  font-size: 14px;
  color: #666;
  display: block;
  float: left;
  margin-right: 16px;
}
.box .box8 .top .ul li .gang {
  float: left;
  margin-top: 4px;
}
.box .box8 .bottom {
  width: 1000px;
  height: 530px;
  overflow: hidden;
}
.box .box8 .bottom .div {
  width: 224px;
  height: 232px;
  margin-bottom: 26px;
  margin-right: 19px;
  border: 1px solid #e8e8e8;
  float: left;
  position: relative;
  top: 0;
  left: 0;
}
.box .box8 .bottom .div .exo {
  float: left;
  margin-top: 1px;
  margin-left: 2px;
}
.box .box8 .bottom .div .zuan {
  float: left;
  margin-top: 10px;
  margin-left: 17px;
}
.box .box8 .bottom .div .zi1 {
  font-size: 13px;
  color: #333;
  display: block;
  float: left;
  margin-top: 16px;
  margin-left: 6px;
}
.box .box8 .bottom .div .zi2 {
  font-size: 13px;
  color: #c8a833;
  display: block;
  float: left;
  width: 70px;
  margin-top: 17px;
  margin-left: 6px;
}
.box .box8 .bottom .div .zi3 {
  font-size: 12px;
  color: #999;
  display: block;
  float: left;
  margin-top: 14px;
  margin-left: 17px;
}
.box .box8 .bottom .div .zi4 {
  font-size: 13px;
  color: #666;
  display: block;
  float: left;
  margin-top: 14px;
  margin-left: 6px;
}
.box .box8 .bottom .div .zi5 {
  font-size: 12px;
  color: #999;
  display: block;
  float: left;
  margin-top: 12px;
  margin-left: 18px;
}
.box .box8 .bottom .div .zi5 .zi6 {
  color: #333;
}
.box .box9 {
  width: 1000px;
  height: 590px;
  border-left: 4px solid #f5f5f5;
  border-right: 3px solid #f5f5f5;
  background: #fff;
}
.box .box9 .top {
  width: 1000px;
  height: 58px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.box .box9 .top .p {
  float: left;
  margin-top: 20px;
  margin-left: 0;
}
.box .box9 .top .p1 {
  font-size: 24px;
  color: #669900;
  position: absolute;
  top: 19px;
  left: 34px;
  font-weight: bold;
}
.box .box9 .top .p2 {
  font-size: 14px;
  color: #666;
  display: block;
  float: right;
  margin-right: 24px;
  margin-top: 33px;
}
.box .box9 .bottom {
  width: 980px;
  height: 502px;
  padding-left: 20px;
  padding-top: 30px;
}
.box .box9 .bottom .wei {
  width: 1000px;
  height: 81px;
  overflow: hidden;
}
.box .box9 .bottom .wei .zi {
  font-size: 12px;
  color: #333;
  display: block;
  flaot: left;
  width: 960px;
  margin-left: 12px;
  margin-bottom: 16px;
}
.box .box9 .bottom .wei img {
  float: left;
  margin-right: 22px;
}
.box .box9 .bottom .wei1 {
  width: 1000px;
  height: 128px;
  overflow: hidden;
}
.box .box9 .bottom .wei1 .zi {
  font-size: 12px;
  color: #333;
  display: block;
  flaot: left;
  width: 960px;
  margin-left: 12px;
  margin-bottom: 16px;
}
.box .box9 .bottom .wei1 img {
  float: left;
  margin-right: 22px;
  margin-bottom: 18px;
}
.box .box10 {
  width: 1007px;
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  overflow: hidden;
}
.box .box10 .ul {
  width: 740px;
  height: 14px;
  float: right;
  margin-left: 262px;
  margin-top: 40px;
  overflow: hidden;
}
.box .box10 .ul li {
  float: left;
  overflow: hidden;
  margin-right: 13px;
}
.box .box10 .ul li .p1 {
  font-size: 12px;
  color: #666;
  display: block;
  float: left;
  margin-right: 12px;
}
.box .box10 .ul li .shu {
  float: left;
}
.box .box10 .wei {
  font-size: 12px;
  display: block;
  float: left;
  color: #999;
  margin-top: 30px;
  margin-left: 183px;
}
.box .box10 .wei1 {
  font-size: 12px;
  color: #999;
  float: left;
  display: block;
  margin-top: 10px;
  margin-left: 95px;
}
.box .box10 .wei2 {
  position: absolute;
  top: 77px;
  right: 65px;
}
