@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
input {
  outline: none;
}
.box {
  width: 1007px;
  height: 3200px;
  background: pink;
  margin: 0 auto;
}
.box .box1 {
  width: 1007px;
  height: 41px;
  background: #1a1a1a;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.box .box1 .logo {
  float: left;
}
.box .box1 .jia {
  width: 54px;
  height: 16px;
  float: left;
  border-right: 1px dotted #717171;
  overflow: hidden;
  margin-top: 13px;
  margin-left: 30px;
  margin-right: 8px;
}
.box .box1 .jia .zi {
  font-size: 12px;
  width: 37px;
  color: #ccc;
  display: block;
  float: left;
  margin-top: 1px;
}
.box .box1 .jia .jiao {
  flaot: left;
  margin-top: 6px;
  margin-right: 8px;
  display: block;
}
.box .box1 .font {
  font-size: 12px;
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 16px;
}
.box .box1 .font a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .div1 {
  height: 41px;
  float: left;
  margin-right: 16px;
}
.box .box1 .div1 .zi1 {
  display: block;
  float: left;
  font-size: 12px;
  margin-top: 15px;
  margin-right: 3px;
}
.box .box1 .div1 .zi1 a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .div1 .zi1 a:hover {
  color: red;
}
.box .box1 .div1 .biao {
  display: block;
  float: left;
  margin-top: 19px;
}
.box .box1 input {
  border: none;
  width: 131px;
  height: 29px;
  float: left;
  font-size: 13px;
  margin-top: 6px;
  margin-left: 45px;
  background: #d8d8d8;
  border-radius: 15px;
}
.box .box1 .jing {
  position: absolute;
  top: 13px;
  right: 227px;
}
.box .box1 .deng {
  font-size: 12px;
  display: inline-block;
  float: left;
  margin-left: 80px;
  margin-top: 15px;
}
.box .box1 .deng a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .deng a:hover {
  color: red;
}
.box .box1 .zhuce {
  font-size: 12px;
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 8px;
}
.box .box1 .zhuce a {
  text-decoration: none;
  color: #ccc;
}
.box .box1 .zhuce a:hover {
  color: red;
}
.box .box2 {
  width: 1007px;
  height: 106px;
  background: #f5f5f5;
  overflow: hidden;
}
.box .box2 .tu {
  float: left;
  margin-top: 18px;
  margin-left: 18px;
}
.box .box2 .p1 {
  font-size: 24px;
  color: #669900;
  font-weight: bold;
  margin-top: 46px;
  margin-left: 10px;
  float: left;
}
.box .box2 .ul {
  width: 534px;
  height: 25px;
  margin-top: 52px;
  float: right;
  overflow: hidden;
}
.box .box2 .ul li {
  height: 25px;
  float: left;
  margin-right: 18px;
  overflow: hidden;
}
.box .box2 .ul li .zi {
  font-size: 16px;
  color: #666;
  display: block;
  float: left;
  margin-right: 16px;
}
.box .box2 .ul li .zi1 {
  font-size: 16px;
  color: #669900;
  display: block;
  float: left;
  margin-right: 16px;
}
.box .box2 .ul li .shu {
  float: left;
  margin-top: 5px;
}
.box .box3 {
  width: 1000px;
  height: 107px;
  border-left: 4px solid #f5f5f5;
  border-right: 3px solid #f5f5f5;
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
}
.box .box3 .p1 {
  font-size: 24px;
  color: #669900;
  position: absolute;
  top: 26px;
  left: 32px;
}
.box .box3 .p2 {
  font-size: 16px;
  color: #ccc;
  position: absolute;
  top: 60px;
  left: 32px;
}
.box .box3 img {
  position: absolute;
  top: 20px;
  right: 40px;
}
.box .box4 {
  width: 1000px;
  height: 2358px;
  background: #f8f8f8;
  border-left: 4px solid #f5f5f5;
  border-right: 3px solid #f5f5f5;
  overflow: hidden;
}
.box .box4 .left {
  width: 700px;
  height: 2358px;
  float: left;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.box .box4 .left .left1 {
  width: 660px;
  height: 27px;
  overflow: hidden;
  border-bottom: 1px solid #e3e3e3;
  padding-left: 40px;
}
.box .box4 .left .left1 li {
  width: 126px;
  height: 27px;
  float: left;
  font-size: 12px;
  text-align: center;
  line-height: 27px;
  border: 1px solid #e3e3e3;
  border-radius: 200px;
  background: #f7f7f7;
}
.box .box4 .left .left1 li:hover {
  background: #fff;
  border-bottom: none;
}
.box .box4 .left .left2 {
  width: 235px;
  height: 38px;
  float: right;
  overflow: hidden;
}
.box .box4 .left .left2 li {
  float: left;
  font-size: 12px;
  color: #666;
  text-align: center;
  line-height: 38px;
  margin-right: 13px;
}
.box .box4 .left .left2 li:hover {
  color: #669900;
}
.box .box4 .left .left3 {
  width: 700px;
  height: 2261px;
}
.box .box4 .left .left3 .div1 {
  width: 700px;
  height: 108px;
  position: relative;
  top: 68px;
  left: 0;
  border-bottom: 1px solid #ededed;
}
.box .box4 .left .left3 .div1 .p1 {
  font-size: 20px;
  font-weight: bold;
  color: #669900;
  position: absolute;
  top: 45px;
  left: 23px;
}
.box .box4 .left .left3 .div1 .p11 {
  font-size: 20px;
  font-weight: bold;
  color: #e35b72;
  position: absolute;
  top: 45px;
  left: 23px;
}
.box .box4 .left .left3 .div1 .kuang {
  width: 126px;
  height: 73px;
  border: #e8e7e7 solid 1px;
  position: absolute;
  top: 18px;
  left: 60px;
}
.box .box4 .left .left3 .div1 .liuyan {
  position: absolute;
  top: 21px;
  left: 63px;
}
.box .box4 .left .left3 .div1 .p2 {
  font-size: 12px;
  color: #666;
  position: absolute;
  top: 23px;
  left: 206px;
}
.box .box4 .left .left3 .div1 .p3 {
  font-size: 12px;
  color: #669900;
  position: absolute;
  top: 45px;
  left: 206px;
}
.box .box4 .left .left3 .div1 .p4 {
  font-size: 12px;
  color: #999;
  position: absolute;
  top: 70px;
  left: 206px;
}
.box .box4 .left .left3 .div1 .p5 {
  font-size: 12px;
  color: #ccc;
  position: absolute;
  top: 83px;
  right: 143px;
}
.box .box4 .left .left3 .div1 .kuai {
  width: 106px;
  height: 110px;
  background: #fbfbfb;
  font-size: 26px;
  color: #669900;
  font-weight: bold;
  text-align: center;
  line-height: 110px;
  position: absolute;
  top: 0;
  right: 0;
}
.box .box4 .left .left3 .div1 .p6 {
  font-size: 12px;
  color: #669900;
  position: absolute;
  top: 85px;
  right: 24px;
}
.box .box4 .left .left3 .div1 .zai {
  position: absolute;
  top: 90px;
  right: 69px;
}
.box .box4 .left .left4 {
  width: 235px;
  height: 38px;
  float: right;
  overflow: hidden;
}
.box .box4 .left .left4 li {
  float: left;
  font-size: 12px;
  color: #666;
  text-align: center;
  line-height: 38px;
  margin-right: 13px;
}
.box .box4 .left .left4 li:hover {
  color: #669900;
}
.box .box4 .right {
  width: 278px;
  height: 2346px;
  border-left: 1px solid #e2e2e2;
  float: left;
}
.box .box4 .right .right1 {
  width: 278px;
  height: 226px;
  background: #fff;
  position: relative;
}
.box .box4 .right .right1 h2 {
  font-size: 15px;
  color: #fff;
  display: block;
  width: 278px;
  height: 30px;
  line-height: 26px;
  background: #2b2b2b;
  position: absolute;
  top: 10px;
  left: 0;
}
.box .box4 .right .right1 video {
  width: 278px;
  height: 226px;
}
.box .box4 .right .right2 {
  width: 278px;
  height: 172px;
}
.box .box4 .right .right2 .top {
  width: 278px;
  height: 70px;
  position: relative;
}
.box .box4 .right .right2 .top img {
  position: absolute;
  top: 22px;
  left: 0;
}
.box .box4 .right .right2 .top .font {
  font-size: 20px;
  font-weight: blod;
  color: #669900;
  position: absolute;
  top: 25px;
  left: 35px;
}
.box .box4 .right .right2 i {
  width: 260px;
  height: 4px;
  box-shadow: 10px 0px 20px #ddd;
  display: block;
  background: linear-gradient(#dddddd, #f1f1f1);
}
.box .box4 .right .right2 .ul {
  width: 263px;
  height: 96px;
  padding-top: 15px;
  padidng-left: 6px;
}
.box .box4 .right .right2 .ul li {
  height: 14px;
  margin-bottom: 11px;
}
.box .box4 .right .right2 .ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
}
.box .box4 .right .right2 .ul li .p1 {
  font-size: 12px;
  color: #ccc;
  display: block;
  float: right;
}
.box .box4 .right .right3 {
  width: 278px;
  height: 1948px;
}
.box .box4 .right .right3 .top {
  width: 278px;
  height: 27px;
  overflow: hidden;
  border-bottom: 1px solid #d1d1d1;
}
.box .box4 .right .right3 .top .p1 {
  font-size: 18px;
  color: #666;
  display: block;
  float: left;
}
.box .box4 .right .right3 .top .p2 {
  font-size: 12px;
  color: #666;
  display: block;
  float: right;
  margin-top: 5px;
}
.box .box4 .right .right3 .bottom {
  width: 278px;
  height: 1885px;
  padding-top: 10px;
}
.box .box4 .right .right3 .bottom .div {
  width: 278px;
  height: 112px;
  padding-top: 14px;
  border-bottom: 1px dashed #ccc;
  position: relative;
}
.box .box4 .right .right3 .bottom .div .kuang {
  width: 126px;
  height: 73px;
  border: 1px solid #ccc;
  position: absolute;
  top: 14px;
  left: 8px;
}
.box .box4 .right .right3 .bottom .div img {
  position: absolute;
  top: 18px;
  left: 12px;
}
.box .box4 .right .right3 .bottom .div .p1 {
  font-size: 12px;
  color: #333;
  position: absolute;
  top: 20px;
  right: 0;
}
.box .box4 .right .right3 .bottom .div .p2 {
  font-size: 12px;
  color: #669900;
  display: block;
  position: absolute;
  top: 41px;
  right: 83px;
}
.box .box4 .right .right3 .bottom .div .p3 {
  font-size: 12px;
  color: #666;
  display: block;
  position: absolute;
  top: 64px;
  right: 3px;
}
.box .box5 {
  width: 1000px;
  height: 456px;
  background: #f8f8f8;
  border-left: 4px solid #f5f5f5;
  border-right: 4px solid #f5f5f5;
}
.box .box5 .left {
  width: 710px;
  height: 456px;
  background: #fff;
  float: left;
}
.box .box5 .left .top {
  width: 710px;
  height: 69px;
  overflow: hidden;
}
.box .box5 .left .top img {
  display: float;
  float: left;
}
.box .box5 .left .top .p1 {
  font-size: 24px;
  coloe: #4c4c4c;
  dispaly: block;
  margin-top: 44px;
  float: left;
}
.box .box5 .left .top .p2 {
  font-size: 24px;
  color: #669900;
  font-weight: bold;
  dispaly: block;
  margin-top: 44px;
  float: left;
}
.box .box5 .left .bottom {
  width: 675px;
  height: 360px;
  padding-top: 28px;
  padding-left: 35px;
}
.box .box5 .left .bottom .ul {
  line-height: 28px;
}
.box .box5 .left .bottom .ul li {
  font-size: 12px;
  color: #666;
}
.box .box5 .right {
  width: 270px;
  height: 456px;
  background: #f8f8f8;
  float: left;
}
.box .box6 {
  width: 1007px;
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  overflow: hidden;
}
.box .box6 .ul {
  width: 740px;
  height: 14px;
  float: right;
  margin-left: 262px;
  margin-top: 40px;
  overflow: hidden;
}
.box .box6 .ul li {
  float: left;
  overflow: hidden;
  margin-right: 13px;
}
.box .box6 .ul li .p1 {
  font-size: 12px;
  color: #666;
  display: block;
  float: left;
  margin-right: 12px;
}
.box .box6 .ul li .shu {
  float: left;
}
.box .box6 .wei {
  font-size: 12px;
  display: block;
  float: left;
  color: #999;
  margin-top: 30px;
  margin-left: 183px;
}
.box .box6 .wei1 {
  font-size: 12px;
  color: #999;
  float: left;
  display: block;
  margin-top: 10px;
  margin-left: 95px;
}
.box .box6 .wei2 {
  position: absolute;
  top: 77px;
  right: 65px;
}
