@charset "utf-8";
/* CSS Document */
.input_normal{
	font-size:14px;padding:3px 4px;border-color:#89b4d6;border-style:solid;border-width:1px;height: 25px;width: 240px;
	 padding-top: 8px;vertical-align:bottom;line-height: 30px;
	/*
	border:1px;
	//background:url(../images/input_normal.jpg) no-repeat;
	width:300px;
	height:30px;
	line-height: 30px;
	*/
	}
.code_normal{
	border:none;
	/*background:url(../images/code_normal.jpg) no-repeat;*/
	width:52px;
	height:30px;
	line-height: 30px;
	vertical-align:top;
	border-color:#89b4d6;border-style:solid;border-width:1px;
	padding-left: 2px;
	
	}	
.sel_normal {
	padding:7px;
	border-radius: 4px;
	border:1px solid #9b9a9a;width:242px;
	}	
.curpos{
	background:url(../images/cur_bg.jpg) repeat-x;
	height:40px;
	line-height:40px;
	width:980px;
	border:1px solid #ccc; border-top:none;
	margin:0 auto}	
.curpos span{
	padding-left:30px;
	font-size: 12px;
	}		


/*------------------------------左侧菜单内容----------------------	*/	

.add_li_bg{
	width:222px;
	height:44px;
	display:block;
	zoom:1;
	overflow:hidden;
	background:url(../images/add_li_bg.jpg) no-repeat;}										
.add_li_bg span{
	padding:13px 0 0 20px;
	display:block;
	height:44px;
	font-weight:bold;
	font-size:14px;}
span.set{
	color:#fff;
	margin-top:10px;
	display:block;
	float:right;
	}
.add_sublist{
	}	
.add_sublist li{
	height:30px;padding-left:35px;
	}
.add_sublist li:hover{
	background-color:#e9f9d7;
	}			
.add_sublist li span{
	padding-left:20px;
	line-height:30px;
	display:block;height:30px;}	
.add_content{
	padding:20px;}	
.sub_tit{
	height:40px;
	border:1px solid #ccc;
	
	}
.sub_tit_btn{
	float:right;
	padding-right:10px;
	padding-top:10px;}
.sub_tit_text{
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	line-height:40px;}	
.sub_con{
	border:1px solid #ccc;
	margin-top:-1px;
	line-height:30px;}
	
/*------------------------------------预约方式主内容---------------------------------*/	
.way_con{
	width:980px;
	margin:0 auto;
	margin-bottom:20px;}	
	
/*------------------------------预约服务主内容----------------------	*/	
.order_content{
	padding:20px 15px 0 15px;
	position:relative;
	}	
.order_content ul li{
	margin-bottom:20px;
	}	

.order_per a{
	background:url(../images/way_main.png) no-repeat 0 0;
	display:block;
	height:73px;
	width:270px;}
.order_cod a{
	background:url(../images/way_main.png) no-repeat 0 -147px;
	display:block;
	height:73px;
	width:270px;}
.order_com a{
	background:url(../images/way_main.png) no-repeat 0 -295px;
	display:block;
	height:73px;
	width:270px;}
.order_carde a{
	background:url(../images/way_main.png) no-repeat 0 -594px;
	display:block;
	height:73px;
	width:270px;}
.order_carde a:hover{background-position: 0 -667px;}			
.order_card a{
	background:url(../images/card.png) no-repeat;
	display:block;
	height:73px;
	width:270px;}	
.order_ele a{
	background:url(../images/way_main.png) no-repeat 0 -445px;
	display:block;
	height:73px;
	width:270px;}		
.order_per a:hover{
	background:url(../images/way_main.png) no-repeat 0 -74px;
	height:73px;
	width:270px;
}
.order_cod a:hover{
	background:url(../images/way_main.png) no-repeat 0 -220px;
	height:73px;
	width:270px;
}
.order_com a:hover{
	background:url(../images/way_main.png) no-repeat 0 -368px;
	height:73px;
	width:270px;
}		
.order_card a:hover{
	background:url(../images/card_hover.png) no-repeat;
}		
.order_ele a:hover{
	background:url(../images/way_main.png) no-repeat 0 -518px;
	height:73px;
	width:270px;
}
.per_tip{
	width:380px;
	position:absolute;
	top:20px;
	right:20px;
	line-height:30px;
	border:1px solid #ffd7ba;
	padding:10px;
	font-size:15px;
	background:#fffcf8}
/*------------------------------身份验证主内容----------------------	*/		
.order_con{
	border:1px solid #ccc;
	width:980px;
	margin:0 auto;
	margin-top:2px;
	margin-bottom:10px;
	}
.order_con *{
	font-size: 12px;
}	
/* .order_con p{
	margin:20px 0;}	 */
.ast{
	color:#ff7500;
	float:left;
	display:block;}	
	
.con_checkin{
	background:#f2f2f2;
	padding:20px;}	
.con_form{
	padding:10px 20px;}	
.con_inqu{
	padding:10px 20px;
	border-top:1px dotted #ccc}	
	
/*------------------------------确认体检项目及注意事项主内容----------------------	*/		
.aff_con{
	padding:10px 20px;
	background:#fff;}
table.aff_inf{
	line-height:40px;
	border-collapse:collapse;
	border:1px solid #ccc}
/*------------------------------选择体检地点和时间----------------------	*/			
.last_con{
	padding:10px 20px;
	background:#fff;}
.last_inf{
	line-height:40px;
	border-collapse:collapse;
	border:1px solid #ccc}	
												
.tab3 {
	border-collapse: collapse;
	border: 1px solid #c2c2c1;
	border-left:none;
	border-right:none;
	background: #f3f3f3;
	height: 38px;
	text-align: center;
	line-height: 38px;
}
.color_light {
	color: #cc3300;
}
.gry_widget-tit {
	background: url(../images/bro_tit_bg.png);
	background-position: 100% -150px;
	padding-right: 10px;
	height: 42px;
}

.gry_widget-tit .child {
	background: url(../images/bro_tit_bg.png);
	background-position: 0 -100px;
	padding-left: 10px;
	height: 42px;
}

.gry_widget-tit .tit-text {
	color: #000;
	font-weight: bold;
	font-size: 14px;
	line-height: 42px;
	padding-left: 13px;
}

.widget-content {
	border: 1px solid #cbcbcb;
	background: #fff;
	border-top: none;
}

.widget-content .child {
	padding: 8px;
	font-size: 12px;
}

#seltab {
	HEIGHT: 34px;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;
	padding-top: 8px;
	padding-left: 35px;
}

#seltab LI {
	FLOAT: left;
	margin-right: 5px;
	HEIGHT: 34px;
}

#seltab LI A {
	height: 34px;
	width: 164px;
	background: url(../images/nortab_gre.jpg) no-repeat;
	text-align: center;
	FLOAT: left;
	LINE-HEIGHT: 34px;
	font-weight: bold;
	font-size: 12px;
	TEXT-DECORATION: none;
	color: #000
}

#seltab LI.selectTab {
	POSITION: relative;
	HEIGHT: 34px
}

#seltab LI.selectTab A {
	BACKGROUND: url(../images/seltab_gre.jpg) no-repeat;
	COLOR: #fff;
	height: 34px;
	width: 164px;
}

#tabContent {
	BACKGROUND-COLOR: #fff;
}

.tabContent {
	DISPLAY: none;
}

#tabContent DIV.selectTab {
	DISPLAY: block
}

.tabContent {
	font-size: 12px;
	line-height: 24px;
}

.datebg {
	height: 41px;
	background: url(../images/datebg.jpg) repeat-x;
	border: 1px solid #c2c2c2;
	line-height: 41px;
	text-align: center;
}

.tab4 {
	border-collapse: collapse;
	margin-top: -1px;
}

.tab4 td {
	border: 1px solid #c2c2c2;
	padding: 0;
}

.space {
	padding-left: 10px;
	line-height: 50px;
}

.cur_info {
	line-height: 26px;
}	

.step4_info{
	padding: 0px 0 5px 0;
}
.tipsClass{
	position : absolute; 
	padding : 15px 15px 0px 6px; 
	background-image: url(../images/pop.png); 
	background-repeat: no-repeat;
	
	font-size : 18 px; 
	font-weight:400;
	margin : 0 auto; 
	text-align: left; 
	width:200px;
	height:127px
}
.tipsMidClass{
	position : absolute; 
	padding : 15px 15px 0px 6px; 
	background-image: url(../images/pop3_04.jpg); 
	background-repeat: repeat-y;
	font-size : 14 px; 
	font-weight:400;
	margin : 0 auto; 
	text-align: left; 
	width:200px;
	height:87px
}
.tipsBtomClass{
	position : absolute; 
	padding : 15px 15px 0px 6px; 
	background-image: url(../images//pop_03.jpg; 
	background-repeat: no-repeat;
	font-size : 14 px; 
	font-weight:400;
	margin : 0 auto; 
	text-align: left; 
	width:200px;
	height:28px
}