.head{height:50px;width:100%;background:url(../img/bei1.gif) repeat-x;position:relative;}
.chang{width:87px;height:37px;background:url(../img/logo_dark.png) no-repeat -4px -5px;border-right:1px solid #cecece;position:absolute;top:6px;left:18px;}
.h-list{margin-right:13px;}
.h-list .zhu{padding-right:20px;line-height:24px;margin-top:11px;}
.h-list .zhu a{font-size:12px;padding-left:6px;}
.h-list .cyou{width:24px;height:24px;background:url(../img/cyou_sprite.png)}
.h-list .one{background-position:-139px 0 }
.h-list .two{background-position:0 -104px}
.h-list .three{background-position:-189px 0}
.h-list .ke a{font-size:12px;color:#4a4a4a;padding-left:29px;width:53px;height:50px;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;line-height:50px;background:url(../img/kefu.gif) no-repeat 58px 23px;display:block;}
.h-list .fu{position:relative;}
.h-list .fu .fu1{font-size:12px;color:#4a4a4a;padding-left:26px;display:block;width:86px;height:50px;background:url(../img/kefu.gif) no-repeat 90px 23px;border-right:1px solid #e1e1e1;line-height:50px;position:relative;}
.h-list .fu .xiala{position:absolute; border:1px solid #bbb;width:335px;right:0;top:50px;z-index:1;display:none;}
.h-list .fu .xiala .zhe{background:url(../img/zhe.png);position:absolute;width:112px;height:1px;left:223px;top:-1px;}
.h-list .fu .xiala dt{width:335px;height:27px;border-bottom:1px solid #dbdbdb;background:#f2f2f2;font-size:12px;font-weight:bold;line-height:27px;padding-top:5px;}
.h-list .fu .xiala dt .four{background-position:-189px 0;margin-left:20px;margin-right:5px;}
.h-list .fu .xiala dd a{width:96px;height:33px;display:block;line-height:33px;font-size:12px;padding-left:15px;border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb ;background:#fff;}
.h-list .fu .xiala dd .youm{border-right:none;}
.h-list .fu:hover .xiala{display:block;}
.h-list .fu .fu1:hover{color:#681683;background:url(../img/kefu.gif) no-repeat 90px 23px #f2f2f2;}
.h-list .game a{font-size:12px;color:#4a4a4a;padding-left:26px;width:86px;height:50px;border-right:1px solid #e1e1e1;line-height:50px;background:url(../img/kefu.gif) no-repeat 90px 23px;display:block;}
.bor1{background:url(../img/nav_bg.png) no-repeat 0 -50px;height:5px;width:100%;}
.ground{width:100%;background:url(../img/con_bg.jpg) no-repeat center top #1c1a25;}
.back{background:url(../img/header_main.jpg) no-repeat center top;width:1007px;height:552px;margin:0 auto;}
.beijing{background:url(../img/content.jpg) no-repeat center top #1c1a25;width:1000px;margin:0 auto;}
.back h1{background:url(../img/logo.gif) no-repeat;width:190px;height:100px;}
.back h1 a{display:block;text-indent:-9999em;width:190px;height:100px;}
.back .nav-list li{text-align:center;position:relative;}
.back .nav-list li .bian{width:86px;height:88px;background:url(../img/nav_new_hover.jpg) no-repeat;padding-top:32px;text-align:center;position:absolute;top:0 ;left:25px;display:none;}
.back .nav-list li .bian .news{margin-bottom:10px;}
.back .nav-list li .bian .news .one{font-size:12px;color:#fff;padding-left:16px;}
.back .nav-list li .bian .news .two{font-size:12px;color:#fff;padding-left:16px;}
.back .nav-list li:hover .bian{display:block;}
.back .nav-list li .bian .news .one:hover{background:url(../img/huang.gif) no-repeat 8px;color:#f3ca90;text-decoration:underline;}
.back .nav-list li .bian .news .two:hover{background:url(../img/huang.gif) no-repeat 8px;color:#f3ca90;text-decoration:underline;}
.back .nav-list li .hui{display:block;font-size:16px;color:#c1cdf5;font-weight:bold;padding:36px 0 44px 27px ;}
.back .nav-list li .hui span{font-size:12px;font-weight:100;}
.shouye{width:1000px;margin:0 auto;}
.shouye .sh-list li{position:relative;}
.shouye .sh-list li a{display:block;}
.shouye .sh-list li .sprite{background:url(../img/sprite.jpg) no-repeat -1px -1px;width:214px;height:108px;}
.shouye .sh-list li .sprite1{background:url(../img/sprite.jpg) no-repeat;width:100px;height:108px;} 
.shouye .sh-list li .fist{background-position:-217px 0;}
.shouye .sh-list li .sec{background-position:-317px 0;}
.shouye .sh-list li .thr{background-position:-417px 0;}
.shouye .sh-list li .fou{background-position:-517px 0;}
.shouye .sh-list li .sprite2{background:url(../img/sprite.jpg) no-repeat -1px -1px;width:214px;height:108px;position:absolute;left:0;top:0;display:none;}
.shouye .sh-list li .sprite3{background:url(../img/sprite.jpg) no-repeat;width:100px;height:108px;position:absolute;left:0;top:0;display:none;} 
.shouye .sh-list li .b1{background-position:-217px -110px;}
.shouye .sh-list li .b2{background-position:-317px -110px;}
.shouye .sh-list li .b3{background-position:-417px -110px;}
.shouye .sh-list li .b4{background-position:-517px -110px;}
.shouye .sh-list li:hover .sprite2{display:block;}
.shouye .sh-list li:hover .sprite3{display:block;}
.shouye .new{width:276px;height:50px;margin:7px 0 0 14px;background:url(../img/sever.png) no-repeat;padding:5px 0 0 85px;}
.shouye .new a{display:block;height:17px;padding-top:5px;color:#adb9e0;font-size:12px;}
.shouye .new a span{color:#f00000;}
.shouye .new a:hover{text-decoration:underline;}
.shouye .look{width:381px;height:42px;background:url(../img/sprite.jpg) no-repeat 0 -220px;margin-top:4px;}
.shouye .look p{font-size:12px;color:#adb9e0;padding:13px 0 0 5px;position:relative;}
.shouye .look p a{color:#f93d1a;text-decoration:underline;}
.shouye .look p .and{position:absolute;width:14px;height:14px;background:url(../img/sprite.jpg) no-repeat -603px -227px;right:-20px;top:14px;}
.shouye .look dl dt{font-size:12px;color:#adb9e0;padding:13px 0 0 5px;}
.shouye .look dl dd{width:41px;height:41px;margin-left:10px;position:relative;}
.shouye .look dl dd .weixin{width:41px;height:41px;background:url(../img/sprite.jpg) no-repeat -398px -221px;position:absolute;left:3px;top:0;display:none;}
.shouye .look dl dd .sina{width:41px;height:41px;background:url(../img/sprite.jpg) no-repeat -442px -221px;position:absolute;left:0px;top:0;display:none;}
.shouye .look dl dd .qq{width:41px;height:41px;background:url(../img/sprite.jpg) no-repeat -486px -221px;position:absolute;left:-3px;top:0;display:none;}
.shouye .look dl dd:hover .weixin{display:block}
.shouye .look dl dd:hover .sina{display:block}
.shouye .look dl dd:hover .qq{display:block}
.shouye .moshen{ overflow:hidden; width:613px;height:303px;position:relative;}
.shouye .moshen #x1{position: absolute;left:0;top:0;}
.shouye .moshen #dian {position: absolute;right: 0;bottom:0;z-index:99999;}
.shouye .moshen #dian li{width:18px;height: 18px;margin:10px;background:#ccc;border-radius: 10px;}
.shouye .moshen #dian .active{background: red }
.shouye .moshen .guanf{position:absolute;width:27px;height:38px;text-align:center;font-size:14px;color:#0ac0d0;background:url(../img/bei2.png) repeat-y;left:11px;top:20px;padding-top:3px;}
.shouye .moshen .guanf .sban{background:url(../img/shangban.gif) no-repeat;width:27px;height:11px;position:absolute;left:0;top:-11px;}
.shouye .moshen .guanf .xban{background:url(../img/xiaban.gif) no-repeat;width:27px;height:11px;position:absolute;left:0;bottom:-11px;}
.shouye .moshen .guanf .dian{background:url(../img/hongdian.png) no-repeat;width:8px;height:8px;position:absolute;left:9px;top:-6px;}
.shouye .moshen .meiti{position:absolute;width:27px;height:38px;text-align:center;font-size:14px;color:#0ac0d0;background:url(../img/bei2.png) repeat-y;left:11px;top:95px;padding-top:3px;}
.shouye .moshen .meiti .sban{background:url(../img/shangban.gif) no-repeat;width:27px;height:11px;position:absolute;left:0;top:-11px;}
.shouye .moshen .meiti .xban{background:url(../img/xiaban.gif) no-repeat;width:27px;height:11px;position:absolute;left:0;bottom:-11px;}
.shouye .zonghe{width:381px;}
.shouye .zonghe .z-list{width:381px;height:58px;background:url(../img/sprite.jpg) no-repeat 0 -262px;}
.shouye .zonghe .z-list li{position:relative;}
.shouye .zonghe .z-list li .he{display:block;width:93px;height:58px;text-align:center;line-height:58px;color:#fdf4e0;font-size:12px;font-weight:bold;}
.shouye .zonghe .z-list li .nbian{ display:none;width:94px;height:55px;background:url(../img/sprite.jpg) no-repeat -94px -323px;position:absolute;top:3px;left:0;text-align:center;line-height:58px;color:#fdf4e0;font-size:12px;font-weight:bold;}
.shouye .zonghe .text{ display:none;width:364px;height:227px;background:#322e3f;padding-top:18px;padding-left:17px;}
.shouye .zonghe .text dl dt a{width:305px;height:25px;background:url(../img/sprite.jpg) no-repeat 0 -379px;display:block;font-size:15px;color:#ff460a;font-weight:bold;padding-left:42px;padding-top:8px;}
.shouye .zonghe .text dl dd p{width:332px;padding-top:13px;padding-left:8px;}
.shouye .zonghe .text dl dd p a{font-size:12px;color:#9ca7b8;}
.shouye .zonghe .text dl dd p span{font-size:12px;color:#9ca7b8;}
.shouye .zonghe .text dl dt:hover a{text-decoration:underline;}
.shouye .zonghe .text dl dd:hover a{text-decoration:underline;}
.shouye .zonghe .text .more{font-size:12px;color:#9ca7b8;padding:0 0 0 17px;;background:url(../img/and.png) no-repeat left;margin-left:270px;margin-top:8px;}
.adv{margin-top:31px;margin-bottom:29px;}
.adv li{border:1px solid #433b4f;}
.adv .youjia{margin-right:8px;}
.club{width:1000px;}
.club .c-zuo{ width: 660px;height: 348px;position: relative; overflow: hidden;}
.club #x2{position: absolute;top:59px;left:0;width:100%;height: 287px;width:3936px;}
.ciub .jue{border-top:1px solid #433b4f;}
.club .jue .shu{width:110px;height:59px;background:url(../img/sprite.jpg) no-repeat;display:block;}
.club .jue .shi{background-position:0 -412px;}
.club .jue .she{background-position:-110px -412px;}
.club .jue .shou{background-position:-220px -412px;}
.club .jue .mo{background-position:-330px -412px;}
.club .jue .zhan{background-position:-440px -412px;}
.club .jue .ci{background-position:-550px -412px;}
.club .jue .shu2{width:110px;height:59px;background:url(../img/sprite.jpg) no-repeat;position:absolute;left:0;top:-59px;display:none;}
.club .jue .shi2{background-position:0 -471px;}
.club .jue .she2{background-position:-110px -471px;}
.club .jue .shou2{background-position:-220px -471px;}
.club .jue .mo2{background-position:-330px -471px;}
.club .jue .zhan2{background-position:-440px -471px;}
.club .jue .ci2{background-position:-550px -471px;}
.club .jue li .fath{position:relative;}
.club .cen{width:321px;}
.club .cen h2{height:46px;font-size:18px;color:#f3ca82;}
.club .cen h2 p{padding-top:7px;padding-left:14px;}
.club .cen h2 .clock{background:url(../img/sprite.jpg) no-repeat -628px 0;width:28px;height:31px;}
.club .cen .bantou{border:1px solid #1c1a25;position:relative;display:block;}
.club .cen .bantou .zhe{width:319px;height:36px;background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;left:0;top:113px;}
.club .cen .bantou .text{position:absolute;left:0;top:113px;padding-top:9px;width:319px;}
.club .cen .bantou .text span{font-size:12px;color:#fff;font-weight:bold;padding-left:5px;}
.club .cen .bantou .text i{font-size:12px;color:#a997c3;padding-right:5px;background:url(../img/happy.png) no-repeat left;padding-left:23px;}
.club .cen .c-list{margin-top:9px}
.club .cen .c-list li{position:relative;}
.club .cen .c-list li a{display:block;width:283px;height:25px;background:url(../img/sprite.jpg) no-repeat;font-size:12px;color:#a6b2d8;line-height:25px;margin-bottom:3px;padding-left:26px;padding-right:10px;}
.club .cen .c-list li .yuan{background-position:0 -530px;}
.club .cen .c-list li .huan{background-position:-319px -530px;position:absolute;left:0;top:0;display:none}
.foot{width:1000px;margin-top:30px;}
.foot .le{width:215px;margin-right:19px;}
.foot .le dl{width:190px;height:189px;background:url(../img/sprite.jpg) no-repeat 0 -555px;padding-left:25px;margin-bottom:23px;}
.foot .le dl dt{width:163px;font-size:15px;color:#f3ca90;text-align:center;height:51px;line-height:42px;}
.foot .le dl dd a{display:block;font-size:12px;color:#9587ab;background:url(../img/little.png) no-repeat left 21px;padding:16px 43px 0 4px}
.foot .le .hezuo{width:205px;height:35px;border:5px solid #322b3c;color:#a295b7;font-size:14px;text-align:center;line-height:35px;background:url(../img/sprite.jpg) no-repeat -451px -273px;position:relative}
.foot .le .hezuo a{font-size:14px;color:#a295b7;}
.foot .le .hezuo1{width:205px;height:35px;border:5px solid #322b3c;color:#a295b7;font-size:14px;text-align:center;line-height:35px;background:url(../img/sprite.jpg) no-repeat -451px -310px;position:absolute;left:-5px;top:-5px;display:none;}
.foot .le .hezuo:hover .hezuo1{display:block;}
.foot .mid {width:424px;margin-right:20px;}
.foot .mid h2{height:41px;}
.foot .mid h2 .talk{width:49px;height:31px;background:url(../img/sprite.jpg) no-repeat -607px -349px;}
.foot .mid h2 p{font-size:19px;color:#f3ca90;padding-top:5px;}
.foot .mid .m-list .m-list-1 .y1{display:block;width:104px;height:47px;text-align:center;line-height:47px;font-size:12px;}
.foot .mid .m-list .m-list-1 .ques{color:#a295b7;border:1px solid #433b4f;border-bottom:none;}
.foot .mid .m-list .m-list-1 .jia{color:#a295b7;background:url(../img/and.png) no-repeat 18px center;padding-left:35px;width:69px}
.foot .mid .m-list .m-list-1 .fath{position:relative;}
.foot .mid .m-list .m-list-1 .fath .zi{color:#fff;background:#322b3c;position:absolute;left:0;top:-47px;display:none;}
.foot .mid .pos{position: relative;}
.foot .mid .xiala{opacity:1;width:422px;height:233px;border:1px solid #433b4f;position:absolute;top:89px;left:0;background:#322b3c;padding-top:23px;}
.foot .mid .xiala .thi{width:105px;height:198px;background:url(../img/play.png) no-repeat;margin-left:16px;}
.foot .mid .xiala .ink{margin-left:13px;}
.foot .mid .xiala .ink li a{display:block;background:url(../img/little.png) no-repeat left center;padding:7px 0 7px 3px;color:#9587ab;font-size:12px;}
.foot .mid .mar{margin-top:300px;}
.foot .mid h2 .hand{background:url(../img/sprite.jpg) no-repeat -613px -381px;width:43px;height:30px;}
.foot .ri{width:322px;}
.foot .ri h2{height:41px;}
.foot .ri h2 .book{width:28px;height:31px;background:url(../img/sprite.jpg) no-repeat -628px -39px;}
.foot .ri h2 .see{width:33px;height:31px;background:url(../img/sprite.jpg) no-repeat -623px -78px;}
.foot .ri h2 p{font-size:19px;color:#f3ca90;padding-top:5px;}
.foot .ri .ziliao{width:303px;height:303px;border:1px solid #4b3f5c;background:#26212d;padding-left:17px;margin-bottom:38px;}
.foot .ri .ziliao li{height:58px;width:286px;border-bottom:1px dashed #574d65;}
.foot .ri .ziliao li dt{background:#594f67;color:#fff;padding:8px 8px 6px 7px;font-size:12px;position:relative;margin:16px 20px 0 0;}
.foot .ri .ziliao li dt span{width:8px;height:10px;position:absolute;right:-8px;top:8px;background:url(../img/kaishi.png) no-repeat;}
.foot .ri .ziliao li a{display:block;font-size:12px;color:#9587ab;border-right:1px solid #9587ab;padding:0 3px 0 3px;margin-top:23px;}
.foot .ri .ziliao li .mei{border-right:none;}
.foot .ri .ziliao .mei{border:none;}
.foot .ri .ziliao .ziliaozhan{width:278px;height:38px;text-align:center;display:block;border:3px solid #4b3f5c;line-height:38px;font-size:21px;font-weight:bold;color:#b1a1ca;margin-top:5px;}
.foot .ri .r-list{width:320px;}
.foot .ri .r-list .r-list-1 .y1{display:block;width:104px;height:47px;text-align:center;line-height:47px;font-size:12px;}
.foot .ri .r-list .r-list-1 .ques{color:#a295b7;border:1px solid #433b4f;border-bottom:none;}
.foot .ri .r-list .r-list-1 .jia{color:#a295b7;background:url(../img/and.png) no-repeat 18px center;padding-left:35px;width:69px}
.foot .ri .r-list .r-list-1 .fath{position:relative;}
.foot .ri .r-list .r-list-1 .fath .zi{color:#fff;background:#322b3c;position:absolute;left:0;top:-47px;display:none;}
.foot .ri .r-list .r-list-1:hover .zi{display:block;}
.foot .ri .r-list .r-list-1 .fath .xiala{width:320px;height:255px;border:1px solid #433b4f;position:absolute;top:0;left:0;background:#322b3c;}
.foot .rabbit{width: 201px;height: 268px;display: block;position: relative;overflow: hidden;}
.foot .rabbit img{position: absolute;left:0;top;:0;}
.wei{width:893px;margin:0 auto;text-align:center;font-size:12px;color:#9587ab;background:url(../img/game_anc.jpg) no-repeat top  #1c1a25;padding-top:10px;margin-bottom:40px;}
.wei p{margin-top:10px;line-height:30px;}
.weibian{height:11px;width:100%;background:url(../img/nav_bg.png) no-repeat 0 -55px;}
.foot .ri .r-list .r-list-1 .fath .xiala a{margin:20px 10px 0 10px;display:block;}
.fin{width:100%;;background:#181818;}
.banquan{width:1000px ;margin:0 auto;height:100px;}
.banquan .logo1{width:120px;height:70px;background:url(../img/logo_dark.png) no-repeat 0 -51px;margin-left:70px;margin-top:5px;}
.banquan .logo2{width:32px;height:41px;background:url(../img/cyou_copyright_sprite.png) no-repeat 0 -5px;margin:20px 18px 0 15px}
.banquan p{font-size:12px;color:#767676;line-height:26px;padding-top:17px;}
.fix{width:35px;height:119px;text-align:center;font-size:20px;color:#fff;font-weight:bold;background:url(../img/fix.png) repeat-y;position:fixed;left:0;top:300px;padding-top:3px;}